<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Roster</title>
    <script type="text/javascript" th:src="@{/static/js/weekpicker.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.autosave.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/moment/min/moment-with-locales.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/chosen/chosen.jquery.js}"></script>
    <link th:href="@{/static/bower_components/chosen/chosen.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div layout:fragment="content">

    <h1>Roster Table</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <form>
                <h4>Select a time zone for your schedule.<br/>
                    <small>The default time zone is guessed based on your location.</small>
                </h4>
                <select class="timezone-select" name="timezone-select"></select>
                <h4>Select a week</h4>
                <input type="text" id="weekpicker" th:required="required" name="newsdate"/>
            </form>
        </div>
        <div class="panel-body">
            <div class="schedule-wrapper row" id="schedule-wrapper"></div>
        </div>
        <div class="panel-footer" style="height: 40px;"><p class="info">Saved!</p></div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var m_startDate;
        var aschedule;
        var rosterId;
        var aweek;
        function initSechduleSetChart() {
            aschedule =
                    '<form class="time-slot">' +
                    '<div class="boxes">' +
                    '<div class="box"><input class="box-time startTime" type="text" name="startTime"/></div>' +
                    '<div class="box"><input class="box-time endTime" type="text" name="endTime"/></div>' +
                    '</div>' +
                    '<select class="candidate-select" name="slotId">' +
                    '<option></option>' +
                    '</select>' +
                    '</form>';
            var aday =
                    '<div class="list a-day col-lg-1 col-md-3 col-sm-4 col-xs-6" style="display: block;">' +
                    '<Label class="date-label"></Label>' +
                    '<div class="time-slots" style="display: block;"></div>' +
                    '<button type="button" class="btn btn-default btn-sm btn-add-time-slot"><span class="glyphicon glyphicon-plus"></span> Add time slot</button>' +
                    '</div>';
            var i;
            aweek = "";
            for (i = 0; i < 7; i++) {
                aweek += aday;
            }
        }

        function handleSelectedDate(startDate) {
            m_startDate = startDate;
            document.getElementById("schedule-wrapper").innerHTML = aweek;
            $(".schedule-wrapper").show();

            var dateLabels = document.getElementsByClassName("date-label");
            var day = document.getElementsByClassName("a-day");

            for (var i = 0; i < 7; i++) {
                var dat = startDate;
                dateLabels[i].innerHTML = dat.toString("ddd d MMMM");
                day[i].setAttribute("date", dat.toString("yyyyMMdd"));
                day[i].setAttribute("id", "day-" + i);
                dat.setDate(dat.getDate() + 1);
            }
            //before create new form, load available schedule id
            var url = window.location.pathname + '/search';
            var data = {};
            var csrfName = [[${_csrf.parameterName}]];
            data[csrfName] = [[${_csrf.token}]];
            data.startDate = parseInt($("#day-0").attr("date"));
            data.user = [[${currentUser.user}]];
            $.post(url, data)
                    .done(function (data) {
                        if (data) {
                            rosterId = data.rosterId;
                            var shifts = data.shifts;
                            $.each(shifts, function (i, v) {
                                var m_date = v.date;
                                var m_shift_id = v.id;
                                var m_time_slot = v.timeSlot;
                                var m_time_slots = $('.a-day').filter('[date=' + m_date + ']').find('.time-slots');
                                var m_time_form = $(aschedule).appendTo(m_time_slots).attr("date", m_date).attr("shift-id", v.id);
                                if (v.startTime) {
                                    $(m_time_form.find(".startTime")).timepicker({'timeFormat': 'H:i'});
                                    var time = moment(v.startTime, "HH:mm");
                                    $(m_time_form.find(".startTime")).timepicker('setTime', new Date(time));
                                }
                                if (v.endTime) {
                                    $(m_time_form.find(".endTime")).timepicker({'timeFormat': 'H:i'});
                                    var time = moment(v.endTime, "HH:mm");
                                    $(m_time_form.find(".endTime")).timepicker('setTime', new Date(time));
                                }
                                setupCandidateSelect(m_time_form, m_time_slot);
                                $(m_time_form).slotAutoSave($('[shift-id=' + m_shift_id + ']'), m_shift_id, m_date);
                                $(".panel-footer .info").hide();
                            });
                        } else {
                            rosterId = (new Date()).valueOf();
                            $(".panel-footer .info").html("You have not set the roster for this week").show();
                        }
                    });

            $(".schedule-wrapper").attr("schedule-id", rosterId);
        }

        function setupCandidateSelect(m_time_form, m_time_slot) {
            var startTime, endTime;
            var candidateSelect = m_time_form.find(".candidate-select");
            $($(candidateSelect).chosen({
                search_contains: true,
                width: '100%',
                placeholder_text_single: "Select a Candidate",
            }).next()).click(function (e) {
                if ($(e.target).parent().hasClass("chosen-single")) {
                    refreshCandidateList(m_time_form, m_time_slot);
                }
            });
            if (m_time_form) {
                refreshCandidateList(m_time_form, m_time_slot);
            }
        }
        function refreshCandidateList(m_time_form, m_time_slot) {
            var candidateSelect = m_time_form.find(".candidate-select");
            var data = {};
            var time_slot = $(candidateSelect).prev();
            startTime = $(time_slot.find($(".startTime"))).val();
            endTime = $(time_slot.find($(".endTime"))).val();
            if (startTime) {
                startTime = Date.parse(startTime);
                startTime = startTime.toString('HH:mm');
                data.startTime = startTime;
            }
            if (endTime) {
                endTime = Date.parse(endTime);
                endTime = endTime.toString('HH:mm');
                data.endTime = endTime;
            }

            var url = window.location.pathname + '/search_candidate';
            data.date = m_time_form.attr("date");

            var csrfName = [[${_csrf.parameterName}]];
            data[csrfName] = [[${_csrf.token}]];
            $.post(url, data)
                    .done(function (data) {
                        console.log(data);
                        var options = '<option></option><option value=0>Vacant</option>';
                        $(data).each(function (i, v) {
                            var candidateLabel = v.user.name + "(" + v.startTime + " - " + v.endTime + ")";
                            if (m_time_slot && v.id == m_time_slot.id) {
                                options += "<option selected='selected' value=" + v.id + ">" + candidateLabel + "</option>";
                            } else {
                                options += "<option value=" + v.id + ">" + candidateLabel + "</option>";
                            }
                        });
                        $(candidateSelect).html(options);
                        $(candidateSelect).trigger("chosen:updated");
                    });
        }


        function initTimeZoneSelect() {
            var timezoneList = moment.tz.names();
            var localTimezone = moment.tz.guess();
            $(timezoneList).each(function (i, v) {
                if (v == localTimezone) {
                    $(".timezone-select").append($("<option>").attr("value", v).text(v).attr("selected", "selected"));
                } else {
                    $(".timezone-select").append($("<option>").attr("value", v).text(v));
                }
            });
            $(".timezone-select").chosen({
                search_contains: true
            });

            $(".guessed-timezone").trigger('chosen:updated');
        }
        jQuery(document).ready(function ($) {

            initSechduleSetChart();
            initTimeZoneSelect();

            var curr = new Date; // get current date
            var first = curr.getDate() - curr.getDay(); // First day is the day of the month - the day of the week
            var last = first + 6;
            var startDate = new Date(curr.setDate(first));
            var endDate = new Date(curr.setDate(last));
            $('#weekpicker').val($.datepicker.formatDate('mm/dd/yy', startDate)
                    + ' - ' + $.datepicker.formatDate('mm/dd/yy', endDate));
            handleSelectedDate(startDate);

            $('.chosen-search').on('focus', 'input', function () {
                $(this).attr("placeholder", "eg: Shanghai, +8, UTC");
            });

            $('body').on('focus', '.box-time', function () {
                $(this).timepicker({'timeFormat': 'H:i'});
            });
            $("body").on('click', '.btn-add-time-slot', function () {

                var date = $(this).parent().attr("date");
                var shiftId = moment.utc().valueOf();

                var m_time_form = $(aschedule).appendTo($(this).prev()).attr("date", date).attr("shift-id", shiftId);
                setupCandidateSelect(m_time_form);

                $(m_time_form).slotAutoSave($('[shift-id=' + shiftId + ']'), shiftId, date);
            });

            $.fn.slotAutoSave = function (slot, shiftId, date) {
                slot.autosave({
                    callbacks: {
                        save: {
                            method: "ajax",
                            options: {
                                url: window.location.pathname + '/save',
                                success: function (data) {
                                    $(".info").html("Saved").fadeIn().delay(800).fadeOut();
                                },
                                fail: function () {
                                    $(".info").html("Error: failed to save data").fadeIn();
                                },
                                method: "POST",
                            }
                        },
                        data: function (options, $inputs, formData) {
                            var data = {};
                            /* data of time slot */
                            $.each($inputs.serializeArray(), function (i, field) {
                                if (field.name == "startTime" || field.name == "endTime") {
                                    var time = field.value;
                                    time = Date.parse(time);
                                    time = time.toString('HH:mm');
                                    data[field.name] = time;
                                } else {
                                    data[field.name] = field.value;
                                }
                            });
                            data.shiftId = shiftId;
                            data.date = parseInt(date);

                            /* data of schedule */
                            data.rosterId = rosterId;
                            data.startDate = parseInt($("#day-0").attr("date"));
                            data.author = [[${currentUser.user}]];
                            data.timeZone = $(".timezone-select").val();

                            var csrfName = [[${_csrf.parameterName}]];
                            data[csrfName] = [[${_csrf.token}]];

                            console.log(data);

                            return data;
                        },
                    }
                });
            };
        });
        //]]>
    </script>
</div>
</body>
</html>