<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>My shifts</title>
    <script type="text/javascript" th:src="@{/static/js/weekpicker.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.autosave.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/moment/min/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/moment-timezone/moment-timezone.js}"></script>
</head>
<body>

<div layout:fragment="content">

    <h1 th:text="${user.name} + '\'s Shift Table'">Schedule Table</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <form>
                <h4>Select a week</h4>
                <input type="text" id="weekpicker" th:required="required" name="newsdate"/>
            </form>
        </div>
        <div class="panel-body">
            <div class="schedule-wrapper row" id="schedule-wrapper"></div>
        </div>
        <div class="panel-footer" style="height: 40px;"><p class="info"></p></div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var m_startDate;
        var aschedule;
        var rosterId;
        var aweek;
        function initSechduleSetChart() {
            aschedule =
                    '<form class="time-slot">' +
                    '<div class="boxes">' +
                    '<div class="box"><input class="box-time startTime" type="text" name="startTime" readonly="readonly"/></div>' +
                    '<div class="box"><input class="box-time endTime" type="text" name="endTime" readonly="readonly"/></div>' +
                    '</div>' +
                    '<p class="assigner"></p>' +
                    '</form>';
            var aday =
                    '<div class="list a-day col-lg-1 col-md-3 col-sm-4 col-xs-6" style="display: block;">' +
                    '<Label class="date-label"></Label>' +
                    '<div class="time-slots" style="display: block;"></div>' +
                    '</div>';
            var i;
            aweek = "";
            for (i = 0; i < 7; i++) {
                aweek += aday;
            }
        }

        function handleSelectedDate(startDate) {
            m_startDate = startDate;
            document.getElementById("schedule-wrapper").innerHTML = aweek;
            $(".schedule-wrapper").show();

            var dateLabels = document.getElementsByClassName("date-label");
            var day = document.getElementsByClassName("a-day");

            var dates = [];
            for (var i = 0; i < 7; i++) {
                var dat = startDate;
                dateLabels[i].innerHTML = dat.toString("ddd d MMMM");
                day[i].setAttribute("date", dat.toString("yyyyMMdd"));
                day[i].setAttribute("id", "day-" + i);
                dates[i] = parseInt(dat.toString("yyyyMMdd"));
                dat.setDate(dat.getDate() + 1);
            }
            //before create new form, load available schedule id
            var url = window.location.pathname;
            var data = {};
            data.dates = dates;
            data.user = [[${currentUser.user}]];
            var csrfName = [[${_csrf.parameterName}]];
            data[csrfName] = [[${_csrf.token}]];
            $.post(url, data)
                    .done(function (shifts) {
                        if (shifts) {
                            for (var i = 0; i < 7; i++) {
                                $.each(shifts[i], function (i, v) {
                                    var m_date = v.date;
                                    var m_shift_id = v.id;
                                    var m_time_slot = v.timeSlot;
                                    var m_time_slots = $('.a-day').filter('[date=' + m_date + ']').find('.time-slots');
                                    var m_time_form = $(aschedule).appendTo(m_time_slots).attr("date", m_date).attr("shift-id", v.id);
                                    if (v.startTime) {
                                        $(m_time_form.find(".startTime")).val(v.startTime);
                                    }
                                    if (v.endTime) {
                                        $(m_time_form.find(".endTime")).val(v.endTime);
                                    }
                                    $(m_time_form.find(".assigner")).html("Assigner: " + v.roster.author.name);
                                });
                            }

                        }
                    });
        }
        function getShiftsToday() {
            var url = window.location.pathname + '/today';
            var data = {};
            var today = new Date;
            data.date = parseInt(today.toString("yyyyMMdd"));
            data.user = [[${currentUser.user}]];
            var csrfName = [[${_csrf.parameterName}]];
            data[csrfName] = [[${_csrf.token}]];
            $.post(url, data)
                    .done(function (shifts) {
                        var info;
                        if (shifts.length > 1) {
                            info = 'You have ' + shifts.length + " shifts today " + '<button id="check-in-btn" class="btn-primary" style="margin-left:20px;">check in</button>';
                            $(".panel-footer .info").html(info).show();
                            $("#check-in-btn").click(function () {
                                var curr = new Date();
                                var currTime = curr.getHours() + ":" + curr.getMinutes();
                                var min;
                                var index;
                                $.each(shifts, function (i, v) {
                                    var diff = Math.abs(Date.parse(v.startTime) - Date.parse(currTime));
                                    if (!min || diff < min) {
                                        min = diff;
                                        index = i;
                                    }
                                    info = "You have checked in for shift from " + v.startTime + " to " + v.endTime + " at " + v.date + ", assigned by " + v.roster.author.name;
                                    $(".panel-footer .info").html(info).show();
                                });

                                //data.shift = currTime;
                                data.user = [[${currentUser.user}]];
                                var csrfName = [[${_csrf.parameterName}]];
                                data[csrfName] = [[${_csrf.token}]];
                                $.post(url, data)
                                        .done(function (shift) {

                                        })

                            })
                        } else {
                            info = "No shifts today";
                            $(".panel-footer .info").html(info).show();
                        }

                    })
        }
        function myCallback(result) {
            // Code that depends on 'result'
        }
        jQuery(document).ready(function ($) {

            initSechduleSetChart();
            $(".schedule-wrapper").hide();
            $(".info").hide();

            var curr = new Date; // get current date
            var first = curr.getDate() - curr.getDay(); // First day is the day of the month - the day of the week
            var last = first + 6;
            var startDate = new Date(curr.setDate(first));
            var endDate = new Date(curr.setDate(last));

            $('#weekpicker').val($.datepicker.formatDate('mm/dd/yy', startDate)
                    + ' - ' + $.datepicker.formatDate('mm/dd/yy', endDate));


            handleSelectedDate(startDate);
            getShiftsToday(myCallback);
        });
        //]]>
    </script>
</div>
</body>
</html>