<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>User Profile</title>
</head>
<body>

<div layout:fragment="content">
    <h1>User Profile</h1>
    <div class="col-sm-6">
        <div class="basic-info">
            <form class="form-horizontal" role="form" id="basic-form">
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="name" name="name" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="email" name="email" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id" class="col-sm-4 control-label">Emp No.</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="id" name="id" required="required"/>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <div class="contract-info">
            <form class="form-horizontal" role="form" id="contract-form">
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label">Department</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="department" name="department" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="job" class="col-sm-4 control-label">Job Code</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="job" name="job" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startDate" class="col-sm-4 control-label">Contract Starting Date</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="startDate" name="startDate" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endDate" class="col-sm-4 control-label">Contract Ending Date</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="endDate" name="endDate" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="salary" class="col-sm-4 control-label">Salary</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="salary" name="salary" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="payRate" class="col-sm-4 control-label">Pay Rate</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="payRate" name="payRate" required="required"/>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <div class="contact-info">
            <form class="form-horizontal" role="form" id="contact-form">
                <div class="form-group required">
                    <label for="phone" class="col-sm-4 control-label">Phone</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" id="phone" name="phone" required="required"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="country" class="col-sm-4 control-label">Country</label>
                    <div class="col-sm-8" id="country-select">
                        <input class="form-control" id="country" name="country" required="required"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="address" class="col-sm-4 control-label">Address</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="address" name="address" maxlength="60"
                               required="required"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="idNumber" class="control-label col-sm-4">National identification number <span><a
                            href="//en.wikipedia.org/wiki/National_identification_number"
                            target="_blank">?</a></span></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="idNumber" name="idNumber" required="required"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="birthday" class="col-sm-4 control-label">Date of Birth</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="birthday" name="birthday" required="required"/>
                    </div>
                </div>
                <div class="form-group" id="edit-save">
                    <div class="col-sm-8 col-sm-offset-4">
                        <button type="button" class="btn btn-default edit" onclick="edit('contact-form')">Edit</button>
                        <button type="submit" class="btn btn-default save" onclick="save('contact-form')"
                                style="display: none">Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        var editable = false;
        var user_profile;
        jQuery(document).ready(function ($) {
            $("form :input").attr("readonly", true);
            $("#birthday").datepicker();
            var uid;
            if (window.location.pathname == "/user/profile") {
                uid = currentUser.id;
                editable = true;
            } else {
                $("#edit-save").hide()
                uid = window.location.pathname.split("/")[2];
            }
            loadBasicForm(uid);
            loadContractForm(uid);
            loadContactForm(uid);

            $('#contact-form').on('submit', function (e) {
                e.preventDefault();
                submitContactForm();
            })
        });
        function submitContactForm() {
            $.each($('form').serializeArray(), function (i, field) {
                switch (field.name) {
                    case "country":
                        user_profile[field.name] = {id: field.value};
                        break;
                    case "birthday":
                        user_profile[field.name] = Date.parse(field.value);
                        break;
                    default:
                        user_profile[field.name] = field.value;
                }
            });
            $.ajax({
                type: "put",
                url: "/api/user/profile",
                data: JSON.stringify(user_profile),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#country-select").html('<input class="form-control" id="country" name="country" readonly="readonly" required="required"/>');
                    $("#country").val(data.country.name);
                }
            })
        }
        function loadBasicForm(uid) {
            $.ajax({
                type: "GET",
                url: "/api/user/" + uid,
                success: function (data) {
                    if (data != null) {
                        $.each(data, function (k, v) {
                            var sel = $("#basic-form #" + k);
                            if (sel.length) {
                                sel.val(v);
                            }
                        });
                    }
                }
            })
        }
        function loadContractForm(uid) {
            $.ajax({
                type: "GET",
                url: "/api/user/contract/" + uid,
                success: function (data) {
                    if (data != null) {
                        $.each(data, function (k, v) {
                            var sel = $("#contract-form #" + k);
                            if (sel.length) {
                                sel.val(v);
                            }
                        });
                        $("#contract-form #department").val(data.job.department.name);
                        $("#contract-form #job").val(data.job.title + ' (ID: ' + data.job.id + ')');
                    }
                }
            })
        }
        function loadContactForm(uid) {
            $.ajax({
                type: "GET",
                url: "/api/user/profile/" + uid,
                success: function (data) {
                    user_profile = data;
                    if (data != null) {
                        $.each(data, function (k, v) {
                            var sel = $("#contact-form #" + k);
                            if (sel.length) {
                                sel.val(v);
                            }
                        });
                        $("#contact-form #country").val(data.country.name);
                    }
                }
            })
        }

        function edit(formId) {
            $("#" + formId + " :input").attr("readonly", false);
            $("button.edit").hide();
            $("button.save").show();

            $("#country-select").html('<select class="form-control country-select" id="country" name="country" required="required" style="width:100%;"> <option></option> </select>')
            initCountryList();
        }
        function save(formId) {
            $("#" + formId + " :input").attr("readonly", true);
            $("button.edit").show();
            $("button.save").hide();
        }
    </script>
</div>
</body>
</html>