<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee List</title>

    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <link th:href="@{/static/css/fullcalendar.min.css}" rel="stylesheet" media="screen" type="text/css"/>

    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/moment/min/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/fullcalendar.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <h3>User List</h3>
    <form class="form-inline" role="form" id="role-checkboxes">
        User role:
        <div class="checkbox"><label><input type="checkbox" v-model="allRoles"/> ALL </label></div>
        <div class="checkbox" v-bind:class="{'disabled': allRoles}"><label><input type="checkbox" v-model="roles" value="ADMIN" v-bind:disabled="allRoles" checked="checked"/> HR </label></div>
        <div class="checkbox" v-bind:class="{'disabled': allRoles}"><label><input type="checkbox" v-model="roles" value="MANAGER" v-bind:disabled="allRoles" checked="checked"/> Manager </label></div>
        <div class="checkbox" v-bind:class="{'disabled': allRoles}"><label><input type="checkbox" v-model="roles" value="EMPLOYEE" v-bind:disabled="allRoles" checked="checked"/> Employee </label></div>
        <div class="checkbox" v-bind:class="{'disabled': allRoles}"><label><input type="checkbox" v-model="roles" value="FORMER_EMPLOYEE" v-bind:disabled="allRoles"/> Former Employee </label></div>
        <div class="checkbox" v-bind:class="{'disabled': allRoles}"><label><input type="checkbox" v-model="roles" value="APPLICANT" v-bind:disabled="allRoles"/> Applicant </label></div>
    </form>
    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default" id="btn-add-row" data-toggle="modal" data-target="#employee-create-modal">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button type="button" class="btn btn-default" id="btn-delete-row" data-toggle="modal" data-target="#delete-confirm-modal" disabled="disabled">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </div>
    <table id="table"
           data-toolbar="#toolbar"
           data-sortable="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-pagination="true"
           data-side-pagination="server"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-detail-view="true"
           data-minimum-count-columns="1"
           data-id-field="id"
           smartDisplay="true">
    </table>
    <div th:replace="form/employee_form :: employee_create_form"></div>
    <div th:replace="fragments/common :: deletion"></div>
    <div th:replace="calendar/calendar :: calendar_modal"></div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var $table = $('#table');
        var $roles_checkboxes = $("#role-checkboxes");
        var vm = new Vue({
            el: '#role-checkboxes',
            data: {
                roles: [],
                allRoles: false
            },
        })


        jQuery(document).ready(function ($) {
            $roles_checkboxes.on('change', 'input', function(){
                $table.bootstrapTable('refresh');
            });
            initTable();

            $('#calendar-modal').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var modal = $(this);
                modal.find('.modal-title').text(button.data('username') + '\'s schedule');

                setUid(button.data('id'))
                loadEvents()
                $("#calendar").fullCalendar( 'refetchEvents' )
            })
        })
        function initTable() {
            $table.bootstrapTable({
                columns: [{
                    field: 'id',
                    title: 'Emp No.',
                    sortable: true,
                    filterControl: 'input'
                }, {
                    field: 'name',
                    title: 'Name',
                    sortable: true,
                    filterControl: 'input',
                    formatter: function (index, row, element) {
                        return '<a href="/user/' + row.id + '">' + row.name + '</a>';
                    }
                }, {
                    field: 'role',
                    title: 'Role',
                    sortable: true,
                    filterControl: 'select'
                }, {
                    field: 'department',
                    title: 'Department',
                    sortable: true,
                    filterControl: 'select',
                }, {
                    field: 'location',
                    title: 'Location',
                    sortable: true,
                    filterControl: 'select'
                }, {
                    title: 'Schedule',
                    formatter: function (index, row, element) {
                        return '<a data-toggle="modal" data-target="#calendar-modal" data-id=' + row.id + ' data-username="' + row.name + '" style="cursor: pointer;"><i class="fa fa-calendar" aria-hidden="true"></i></a>';
                    },
                }],
                url: '/api/user',
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    if (p.sort) {
                        data.sort = p.sort;
                    } else {
                        data.sort = "id";
                    }
                    data.order = p.order;
                    data.limit = p.limit;
                    data.offset = p.offset;
                    var tmp = $.parseJSON(p.filter);
                    var filter = {};
                    for (var key in tmp) {
                        filter[key] = tmp[key];
                    }
                    if (!vm.allRoles) {
                        filter.roleList = vm.roles;
                    }
                    data.filter = JSON.stringify(filter);
                    return data;
                },
                responseHandler: function (res) {
                    $.each(res.rows, function (i, v) {
                        res.rows[i].location = res.rows[i].department ? res.rows[i].department.location : null;
                        res.rows[i].department = res.rows[i].department ? res.rows[i].department.name : null;
                    });
                    return res;
                },
                detailFormatter: function (index, row, element) {
                    var user = row;
                    var basic =
                            '<div class="row" id="user-info">' +
                            '<dl class="col-md-4 dl-horizontal">' +
                            '<dt>Name</dt>' + '<dd>' + user.name + '</dd>' +
                            '<dt>Emp No.</dt>' + '<dd>' + user.id + '</dd>' +
                            '</dl>' +
                            '<dl class="col-md-4 dl-horizontal">' +
                            '<dt>E-mail</dt>' + '<dd>' + user.email + '</dd>' +
                            '<dt>Role</dt>' + '<dd>' + user.role + '</dd>' +
                            '</dl>';
                    var active = "";
                    if (user.active == false) {
                        active =
                                '<dl class="col-md-4 dl-horizontal">' +
                                '<strong>This employee has resigned</strong>' +
                                '</dl>';
                    }

                    return basic + active + '</div>';
                },
                onPostBody: function () {
                    $(".filterControl input").attr('placeholder', 'Search');
                },
                filterControl: true,
                cookie: true,
                cookieIdTable: 'user',
            });
        }
        //]]>
    </script>
</div>
</body>
</html>