<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Login</title>
    <th:block th:include="fragments/head :: head"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.validate.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div id="tabs" style="margin-top: 25%">
                <ul>
                    <li><a href="#tabs-1">Change Password</a></li>
                    <li><a href="#tabs-2">Change E-mail</a></li>
                </ul>
                <div id="tabs-1">
                    <form role="form" id="password-change-form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Old Password" type="password" name="oldPassword" id="oldPassword" required="required"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="New Password" type="password" name="password" id="password" required="required"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Repeat New Password" type="password" name="passwordRepeated" id="passwordRepeated" required="required"/>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block">Save</button>
                        </fieldset>
                        <br/>
                        <div class="alert alert-danger" id="password-alert" style="display: none;"></div>
                    </form>
                </div>
                <div id="tabs-2">
                    <form role="form" id="email-change-form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="New E-mail" type="email" name="email" required="required" autofocus="autofocus"/>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block">Save</button>
                        </fieldset>
                        <br/>
                        <div class="alert alert-danger" id="email-alert" style="display: none;"></div>
                    </form>
                </div>

            </div>
        </div>


    </div>
    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        $.validator.addMethod("notEqual", function(value, element, param) {
            return this.optional(element) || value != $(param).val();
        }, "The new password should be different from the old one");

        jQuery(document).ready(function ($) {
            $( "#tabs" ).tabs();
            handlePasswordForm();
            handleEmailForm();

        });

        function handlePasswordForm() {
            var form = $("#password-change-form");
            form.validate({
                rules: {
                    oldPassword: {
                        required: true,
                    },
                    password: {
                        required: true,
                        notEqual: '#oldPassword'
                    },
                    passwordRepeated: {
                        required: true,
                        equalTo: '#password'
                    }
                }
            });
            form.on('submit', function (e) {
                e.preventDefault();
                var data = {};
                $.each(form.serializeArray(), function(i, field) {
                    data[field.name] = field.value;
                });
                $.ajax({
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    url: '/api/user/change_password',
                    success: function (data) {
                        if (data.response == 'ERROR') {
                            $("#password-alert").show();
                            $("#password-alert").html(data.detail);
                        } else {
                            $("#password-alert").hide();
                            $.notify({
                                icon: 'fa fa-info-circle',
                                message: "Your password has been changed. You would need to log in with your new password.",
                            },{
                                placement: {
                                    from: "bottom",
                                    align: "right"
                                },
                            });
                            setTimeout(function() {
                                logout({[[${_csrf.parameterName}]]: [[${_csrf.token}]]});
                                window.location.href = "/login";
                            }, 2000);
                        }
                    },
                });
            })
        }
        function handleEmailForm() {
            var form = $("#email-change-form");
            form.validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                }
            });
            form.on('submit', function (e) {
                e.preventDefault();
                var data = {};
                $.each(form.serializeArray(), function(i, field) {
                    data[field.name] = field.value;
                });
                $.ajax({
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    url: '/api/user/change_email',
                    success: function (data) {
                        if (data.response == 'ERROR') {
                            $("#email-alert").show();
                            $("#email-alert").html(data.detail);
                        } else {
                            $("#email-alert").hide();
                            $.notify({
                                icon: 'fa fa-info-circle',
                                message: "Your E-mail address has been changed. You would need to log in with your new E-mail.",
                            },{
                                placement: {
                                    from: "bottom",
                                    align: "right"
                                },
                            });
                            setTimeout(function() {
                                logout({[[${_csrf.parameterName}]]: [[${_csrf.token}]]});
                                window.location.href = "/login";
                            }, 2000);
                        }
                    },
                });
            })
        }
        //]]>
    </script>
</div>
</body>
</html>