<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_career">
<head>
    <title>Home</title>
</head>
<body>

<!--/* Content of this page will be decorated by the elements of layout.html (task/layout) */-->
<div layout:fragment="content">

    <!--<div th:replace="fragments/email_form :: email_form"></div>-->
    <!--<div th:replace="fragments/file_upload_form :: file_upload_form"></div>-->

</div>
</body>
</html>