<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="fragments/head :: head"/>
    <link th:href="@{/static/css/fullcalendar.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/moment/min/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/fullcalendar.min.js}"></script>
</head>
<body>
<!--/* Standard layout can be mixed with Layout Dialect */-->
<div id="wrapper">
    <div th:replace="fragments/header :: header"></div>
    <div id="page-wrapper-career">
        <div class="container">
            <h1>Welcome</h1>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
