<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Dashboard</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
</head>
<body>

<!--/* Content of this page will be decorated by the elements of layout.html (task/layout) */-->
<div layout:fragment="content">
    <style>
        .table-hover tbody tr:hover > td {
            cursor: pointer;
        }
    </style>

    <h3>Notifications</h3>
    <table id="table"
           data-sortable="true"
           data-show-header="false"
           data-show-refresh="true"
           data-pagination="true"
           data-side-pagination="server"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-id-field="id"
           smartDisplay="true">
    </table>
    <div class="modal fade" id="notes-modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {{ notes }}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var $table = $('#table');
        var vm = new Vue({
            el: '#notes-modal',
            data: {
                notes: null
            },
        })
        jQuery(document).ready(function ($) {
            initTable();

            $('#notes-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var content = button.data('content');
                vm.notes = content.senderName + ": " + content.notes
            })
        })

        function initTable() {
            $table.bootstrapTable({
                columns: [{
                    field: 'content',
                    formatter: function (index, row, element) {
                        var content;
                        var obj = JSON.parse(index);
                        switch (row.type) {
                            case 'PROFILE_REVIEW':
                                content = 'You have some job applicants\' profiles to review' +
                                    '<a id="notes" data-toggle="popover" data-trigger="hover"  data-placement="top" data-content="' + obj.senderName + ': ' + obj.notes  +'"> Notes </a>'
                                break;
                            default:
                                content = index;
                                break;
                        }
                        if (row.read == false) {
                            return '<b>' + content + '</b>';
                        } else {
                            return content;
                        }
                    }
                }, {
                    field: 'createdDate',
                    formatter: function (index, row, element) {
                        if (row.read == false) {
                            return '<b>' + (new Date(index)).toString("yyyy/M/dd hh:mm:ss") + '</b>';
                        } else {
                            return (new Date(index)).toString("yyyy/M/dd hh:mm:ss");
                        }
                    }
                }],
                url: '/api/notification',
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    data.sort = "createdDate";
                    data.order = "desc";
                    data.limit = p.limit;
                    data.offset = p.offset;
                    var tmp = $.parseJSON(p.filter);
                    var filter = {};
                    filter.uid = "" + currentUser.id;
                    if (currentUser.role == "ADMIN") {
                        filter.role = "ADMIN"
                    }
                    data.filter = JSON.stringify(filter);
                    return data;
                },
                onClickRow(row, $element) {
                    row.read = true;
                    $.ajax({
                        type: "put",
                        url: "/api/notification/",
                        data: JSON.stringify(row),
                        contentType: "application/json; charset=utf-8",
                        async: false,
                    });

                    switch (row.type) {
                        case 'REVIEW_START':
                        case 'REVIEW_UPDATE':
                        case 'REVIEW_UPDATE_HR':
                            window.open('/job_application/' + row.itemId, "_self");
                            break;
                        case 'CONTRACT_EXPIRING':
                            var from = row.itemNote.split("-")[0], to = row.itemNote.split("-")[1];
                            window.open('/contract?from=' + from + '&to=' + to, "_self");
                            break;
                        case "PROFILE_REVIEW":
                            var obj = JSON.parse(row.content)
                            window.open('/job_application/profile_review/?applications=' + obj.applications);
                            break;
                    }
                },
                filterControl: true,
                cookie: true,
                cookieIdTable: 'notification',
                cardView: true,
                onPostBody: function () {
                    $("#notes").popover()
                }
            });
        }
        //]]>

    </script>
</div>
</body>
</html>