<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>My Request</title>
    <link th:href="@{/static/bower_components/select2/dist/css/select2.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/select2/dist/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/moment/min/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.steps.min.js}"></script>


</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h3>Submit a Request</h3>
        <a href="#" th:href="@{../request}"> Requests</a>
        <select class="form-control request-select" id="requestType" name="requestType" required="required">
            <option value="STAFFING">Staffing</option>
            <option value="OTHER">Other</option>
        </select>

        <form class="form-horizontal" role="form" id="form" method="post">
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-8">
                        <input th:value="aa" class="form-control" placeholder="Title" type="input" id="title" name="title" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="department" class="col-sm-2 control-label">Department</label>
                    <div class="col-sm-8">
                        <input th:value="bb" class="form-control" placeholder="Department" type="input" id="department" name="department" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="staffingRequestType" class="col-sm-2 control-label">I would like to...</label>
                    <div class="col-sm-5">
                        <select class="form-control staffing-request-select" id="staffingRequestType" name="staffingRequestType" required="required">
                            <option value="REPLACE">Replace existing positions</option>
                            <option value="ADD">Request new positions</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="jobId" class="col-sm-2 control-label">Job Code</label>
                    <div class="col-sm-5">
                        <input th:value="2" class="form-control" placeholder="Job Code" type="number" id="jobId" name="jobId" required="required"/>
                    </div>
                    <div class="col-sm-3">
                        <a href="/jobs" target="_blank" title="Click to view the job list">?</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vacancies" class="col-sm-2 control-label"># of vacancies</label>
                    <div class="col-sm-5">
                        <input th:value="2" class="form-control" placeholder="# of vacancies" type="number" id="vacancies" name="department" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startDate" class="col-sm-2 control-label">Desired Starting Date</label>
                    <div class="col-sm-5">
                        <input class="form-control" placeholder="Desired Starting Date" type="input" id="startDate" name="startDate" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contractLength" class="col-sm-2 control-label">Desired Contract Length</label>
                    <div class="col-sm-5">
                        <input th:value="2" class="form-control" placeholder="Desired Contract Length" type="number" id="contractLength" name="contractLength" required="required"/>
                    </div>
                    <div class="col-sm-3">
                        <input type="radio" name="contractLengthUnit" value="week" checked="checked"/> Week
                        <input type="radio" name="contractLengthUnit" value="month" /> Month
                    </div>
                </div>
                <div class="form-group">
                    <label for="startDate" class="col-sm-2 control-label">Deadline for Application</label>
                    <div class="col-sm-5">
                        <input class="form-control" placeholder="Leave blank if not sure" type="input" id="deadline" name="deadline" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="senderMessage" class="col-sm-2 control-label">Reason for request</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" type="input" id="senderMessage" name="senderMessage" rows="5"> </textarea>
                    </div>
                </div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="description" class="control-label">Job Description: </label>
                    <textarea class="form-control" type="input" id="description" name="description" rows="5"> </textarea>
                </div>
                <div class="form-group">
                    <label for="requirement" class=" control-label">Job Requirement: </label>
                    <textarea class="form-control" type="input" id="requirement" name="requirement" rows="5"> </textarea>
                </div>
                <div class="form-group">
                    <label for="standardHours" class=" control-label">Standard Hours: </label>
                    <input class="form-control" type="number" id="standardHours" name="hours" />
                </div>
                <div class="form-group">
                    <label class=" control-label">Proposed Contract End Date: </label>
                    <p id="endDate"></p>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" th:inline="javascript">


        jQuery(document).ready(function ($) {
            var endDate;
            var job;

            $("#startDate").datepicker();
            $("#deadline").datepicker();

            $("#jobId").change(function () {
                var url = "/api/job/" + $("#jobId").val();
                $.get(url)
                        .done(function (data) {
                            if (data == "") {
                                $.notify({
                                    icon: 'fa fa-info-circle',
                                    message: "Please input a valid job code.",

                                }, {
                                    element: 'body',
                                    type: 'info',
                                    delay: 0,
                                    placement: {
                                        from: "bottom",
                                        align: "right"
                                    },
                                })
                            } else {
                                job = data;
                                $("#description").val(data.description);
                                $("#requirement").val(data.requirement);
                                $("#standardHours").val(data.hours);
                            }
                        });
            });
            $("#contractLength, input[name='contractLengthUnit']").change(function () {
                var length = parseInt($("#contractLength").val());
                if ($("input[name='contractLengthUnit']:checked").val() == "month") {
                    endDate = Date.parse($("#startDate").val()).addMonths(length);
                } else {
                    endDate = Date.parse($("#startDate").val()).addWeeks(length);
                }
                $("#endDate").html(endDate.toString("M/dd/yyyy"));
            });

            $("form").submit(function (e) {
                e.preventDefault();

                var data = {};
                var staffingRequest = {};
                $.each($('#form').serializeArray(), function(i, field) {
                    switch (field.name) {
                        case "contractLength":
                        case "contractLengthUnit":
                            var length = parseInt($("#contractLength").val());
                            if (field.value == "month") {
                                endDate = Date.parse($("#startDate").val()).addMonths(length);
                            } else {
                                endDate = Date.parse($("#startDate").val()).addWeeks(length);
                            }
                            staffingRequest["endDate"] = endDate;
                            break;
                        case "startDate":
                        case "deadline":
                            staffingRequest[field.name] = Date.parse(field.value);
                            break;
                        case "jobId":
                            staffingRequest.job = job;
                            break;
                        default:
                            staffingRequest[field.name] = field.value;
                            break;
                    }
                });

                staffingRequest.requestType = "STAFFING";

                var url = "/api/request/staffing";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(staffingRequest),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        $.notify({
                            icon: 'fa fa-info-circle',
                            message: "Your request has been sent.",
                        },{
                            element: 'body',
                            type: 'info',
                            delay: 2000,
                            placement: {
                                from: "bottom",
                                align: "right"
                            },
                        });
                    }
                })
            });
            $(".staffing-request-select").select2({
                minimumResultsForSearch: Infinity
            });
        });
    </script>
</div>
</body>
</html>