<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Career</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h3>Profiles to Review</h3>

        <div id="toolbar" class="btn-group">
            <button type="button" class="btn btn-default" onclick="slideshowMode()" title="slideshow mode">
                <i class="fa fa-caret-square-o-right"></i>
            </button>
            <button type="button" class="btn btn-default" id="btn-delete-row" data-toggle="modal" data-target="#delete-confirm-modal" disabled="disabled">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-minimum-count-columns="1"
               data-id-field="id"
               smartDisplay="true">
        </table>
    </div>
    <div class="modal fade" id="profile-review-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Send profiles to: </h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" id="profile-review-form">
                        <div class="form-group required">
                            <label for="employee-select" class="col-sm-2 control-label">Reviewers</label>
                            <div class="col-sm-10">
                                <select v-model="reviewers" class="form-control" id="employee-select" multiple="multiple" required="required"><option></option></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="col-sm-2 control-label">Note</label>
                            <div class="col-sm-10">
                                <textarea v-model="notes" class="form-control" id="note" multiple="multiple"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="career/career_job_post :: job_post_modal"></div>


    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var $table = $('#table');

        var vm = new Vue({
            data: {
                applicationIds: null,
                responseIds: null,
            }
        })

        jQuery(document).ready(function ($) {
            vm.applicationIds = getUrlParameter("applications").split(',');
            vm.responseIds = getUrlParameter("responses").split(',');

            loadApplications()
        });

        function loadApplications() {
            $.ajax({
                type: "get",
                url: "/api/job_application/profile_review/" + vm.applicationIds,
                success: function (data) {
                    var applications = data;
                    $.ajax({
                        type: "get",
                        url: "/api/review_response/status_list/" + vm.responseIds,
                        success: function (data) {
                            var results = data;
                            var rows = [];
                            $.each(applications, function( i, v ) {
                                v.result = results[i];
                                rows.push(v);
                            });
                            initTable(rows);
                        }
                    });
                }
            });

        }

        function slideshowMode() {
            window.open("/job_application/profile_review/?applications=" + vm.applicationIds + '&responses=' + vm.responseIds + '&mode=slideshow', "_self");
        }
        function initTable(data) {
            var columns = [{
                field: 'applyDate',
                title: 'Applied',
                sortable: true,
                formatter: function (index, row, element) {
                    return (new Date(index)).toString("yyyy/M/dd");
                }
            }, {
                field: 'id',
                title: 'ID',
                sortable: true,
            }, {
                field: 'applicant.name',
                title: 'Applicant',
                sortable: true,
                formatter: function (index, row, element) {
                    return '<a href="/job_application/profile_review/?mode=slideshow&applications=' + vm.applicationIds + '&responses=' + vm.responseIds + '&index=' + element + '">' + index + '</a>';
                }
            }, {
                field: 'jobPost.title',
                title: 'Job Post',
                sortable: true,
                formatter: function (index, row, element) {
                    return '<a href="/job_post/' + row.jobPost.id + '">' + index + ' </a>' +
                            '<a data-toggle="modal" data-target="#job-post-modal"  data-id="' + row.jobPost.id + '" title="preview" style="cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></a>';
                }
            }, {
                field: 'jobPost.department.location',
                title: 'Location',
                sortable: true,
            }, {
                field: 'jobPost.department.name',
                title: 'Department',
                sortable: true,
            }, {
                field: 'result',
                title: 'Your Response',
                sortable: true,
            }];

            $table.bootstrapTable({
                columns: columns,
                data: data,
            });
        }

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
        }

        function handleApplicationStatusChange(status, index) {
            var application = $table.bootstrapTable('getData', true)[index];
            application.status = status;

            if (status != 'CONTRACTED') {
                notify = $.notify({
                    icon: 'fa fa-info-circle',
                    message: "Waiting...",
                });
            }
            $.ajax({
                type: "PUT",
                url: "/api/job_application/",
                data: JSON.stringify(application),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    notify.update('message', 'Done');
                    setTimeout(function () {
                        notify.close();
                    }, 1000);
                    $table.bootstrapTable('updateRow', {index: index, row: application});
                    $table.bootstrapTable('expandRow', index);
                }
            });
        }
        //]]>
    </script>
</div>
</body>
</html>