<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Job Post List</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row" id="page">
        <h3 v-if="result">{{ result }}</h3>

        <h3>Job Info <a v-if="jobApplication" data-toggle="modal" data-target="#job-post-modal"  data-id="{{ jobApplication.jobPost.id }}" title="preview" style="cursor: pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h3>
        <div th:replace="career/applicant_profile :: applicant_profile"></div>
        <h3>Review Detail</h3>
        <table id="table"
               data-toolbar="#toolbar"
               data-show-header="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-side-pagination="server"
               data-id-field="id"
               smartDisplay="true"
               style="word-wrap: break-word">
        </table>
        <hr/>
        <div v-if="reviewResponse &amp;&amp; !result" role="form">
            <div class="form-group">
                <label for="response" class="control-label">Comment</label>
                <textarea v-model="comment" class="form-control" id="response" rows="2"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success" onclick="submitResponse('PASSED')">Pass</button>
                <button class="btn btn-danger" onclick="submitResponse('FAILED')">Fail</button>
            </div>
        </div>
        <div th:replace="career/career_job_post :: job_post_modal"></div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var $table = $('#table');

        var vm = new Vue({
            el: '#page',
            data: {
                jobApplication: null,
                reviewResponse: null,
                comment: null,
                result: null,
            },
        })

        jQuery(document).ready(function ($) {
            initTable('/api/job_application/' + window.location.pathname.split("/")[2])
        });

        function initTable(url) {
            $table.bootstrapTable({
                columns: [{
                    field: 'runNumber',
                    title: 'No.',
                    width: '5%',
                    formatter: function (index, row, element) {
                        if (vm.reviewResponse && vm.reviewResponse.status == "REVIEWING" && row.id == vm.reviewResponse.id) {
                            return '<b><i>' + index + ' </i></b><i class="fa fa-hand-o-left" aria-hidden="true"></i>';
                        } else if (vm.reviewResponse && row.id == vm.reviewResponse.id) {
                            return '<b><i>' + index + ' </i></b>';
                        } else {
                            return index;
                        }
                    }
                }, {
                    field: 'reviewer.name',
                    title: 'Reviewer',
                    width: '10%',
                    formatter: function (index, row, element) {
                        return '<a href="/user/' + row.reviewer.id + '">' + index + '</a>';
                    }
                }, {
                    field: 'type',
                    title: 'Review Type',
                    width: '10%',
                    formatter: function (index, row, element) {
                        if (row.type == "INTERVIEW") {
                            return index + '<br>' + (new Date(row.start)).toString("yyyy/MM/dd") + '<br>' + (new Date(row.start)).toString("HH:mm") + ' - ' + (new Date(row.end)).toString("HH:mm")
                        } else {
                            return index;
                        }
                    }
                }, {
                    field: 'response',
                    title: 'Comment',
                }, {
                    field: 'status',
                    title: 'Result',
                    width: '10%',
                }],
                url: url,
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                responseHandler: function (res) {
                    vm.jobApplication = res;

                    var uid = vm.jobApplication.applicant.id;
                    if (vm.index == 0) {
                        initFileListTable(uid);
                    } else {
                        initFileListTable(uid);
                        $('#file-table').bootstrapTable('refresh');
                    }
                    loadContactForm(uid);
                    setMyRun();

                    var data = {};
                    data.rows = res.responses;
                    data.total = res.responses.length;
                    data.rows.sort(sortByRunNumber);
                    return data;
                },
            });
        }

        function setMyRun() {
            vm.result = null;
            $.each(vm.jobApplication.responses, function( i, response ) {
                if (getUrlParameter('responseId') == response.id) {
                    vm.reviewResponse = response;
                    if (response.status != "REVIEWING") {
                        vm.result = response.status
                    }
                }
            });
        }
        function submitResponse(status) {
            vm.reviewResponse.response = vm.comment;
            vm.reviewResponse.status = status;
            vm.reviewResponse.jobApplication = {"id": vm.jobApplication.id};

            $.ajax({
                type: "put",
                url: "/api/review_response/",
                data: JSON.stringify(vm.reviewResponse),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    vm.comment = null;
                    $table.bootstrapTable('refresh');
                }
            });
        }
        function sortByRunNumber(a, b){
            var aa = a.runNumber;
            var bb = b.runNumber;
            return ((aa < bb) ? -1 : ((aa > bb) ? 1 : 0));
        }
        //]]>
    </script>
</div>
</body>
</html>