<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Career</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <style>
        .btn.application {
            margin: 0 10px;
        }
    </style>

    <div class="row">
        <h3>Job Application List</h3>
        <form class="form-inline" role="form" id="status-checkboxes">
            Application status:
            <div class="checkbox"><label><input type="checkbox" name="all-status"/> ALL </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="SUBMITTED" checked="checked"/> SUBMITTED </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="REVIEWING" checked="checked"/> REVIEWING </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="PASSED" checked="checked"/> PASSED </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="FAILED"/> FAILED </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="OFFER_SENT" checked="checked"/> OFFER_SENT </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="OFFER_ACCEPTED" checked="checked"/> OFFER_ACCEPTED </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="OFFER_DECLINED" checked="checked"/> OFFER_DECLINED </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="WITHDREW"/> WITHDREW </label></div>
            <div class="checkbox status"><label><input type="checkbox" name="status" value="CLOSED"/> CLOSED </label></div>
        </form>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-detail-view="true"
               data-minimum-count-columns="1"
               data-id-field="id"
               smartDisplay="true">
        </table>
    </div>
    <div th:replace="form/email_form :: email_form"></div>
    <div th:replace="form/file_generate_form :: file_generate_form"></div>
    <div th:replace="career/career_job_post :: job_post_modal"></div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var $table = $('#table');
        var $status_checkboxes = $("#status-checkboxes");
        var url = "/api/job_application";
        var status_list;
        var all_status = false;

        jQuery(document).ready(function ($) {
            initTable();

            var boxes = $status_checkboxes.find("input[name='status']");
            var box_labels = $status_checkboxes.find(".status");
            $status_checkboxes.on('change' , "input[name='all-status']" , function(){
                if ($(this).is(":checked")) {
                    all_status = true;
                    boxes.prop('disabled', true);
                    box_labels.addClass('disabled');
                } else {
                    all_status = false;
                    boxes.prop('disabled', false);
                    box_labels.removeClass('disabled');
                }
                $table.bootstrapTable('refresh');
            });
            $status_checkboxes.on('change' , "input[name='status']" , function(){
                $table.bootstrapTable('refresh');
            });
        });
        function getStatusList() {
            status_list = [];
            $status_checkboxes.find("input[name='status']:checked").each(function() {
                status_list.push($(this).attr('value'));
            });
            return status_list.length != 0 && !all_status;
        }

        function initTable() {
            var columns = [{
                field: 'applyDate',
                title: 'Applied',
                sortable: true,
                formatter: function (index, row, element) {
                    return (new Date(index)).toString("yyyy/M/dd");
                }
            }, {
                field: 'id',
                title: 'ID',
                sortable: true,
            }, {
                field: 'applicant',
                title: 'Applicant',
                sortable: true,
                formatter: function (index, row, element) {
                    return '<a href="/job_application/' + row.id + '">' + index.name + '</a>';
                }
            }, {
                field: 'title',
                title: 'Job Post',
                filterControl: 'input',
                formatter: function (index, row, element) {
                    return '<a href="/job_post/' + row.jobPost.id + '">' + row.jobPost.title + ' </a>' +
                            '<a data-toggle="modal" data-target="#job-post-modal"  data-id="' + row.jobPost.id + '" title="preview" style="cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></a>';
                }
            }, {
                field: 'location',
                title: 'Location',
                filterControl: 'select'
            }, {
                field: 'department',
                title: 'Department',
                filterControl: 'select'
            }, {
                field: 'status',
                title: 'Status',
                sortable: true,
                filterControl: 'select'
            }];

            $table.bootstrapTable({
                columns: columns,
                url: url,
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    if (p.sort) {
                        data.sort = p.sort;
                    } else {
                        data.sort = "id";
                    }
                    data.order = p.order;
                    data.limit = p.limit;
                    data.offset = p.offset;
                    var tmp = $.parseJSON(p.filter);
                    var filter = {};
                    for (var key in tmp) {
                        filter[key] = tmp[key];
                    }
                    if (getStatusList()) {
                        filter.statusList = status_list;
                    }
                    data.filter = JSON.stringify(filter);
                    return data;
                },
                responseHandler: function (res) {
                    $.each(res.rows, function (i, v) {
                        res.rows[i].location = res.rows[i].jobPost.department.location;
                        res.rows[i].department = res.rows[i].jobPost.department.name;
                    });
                    return res;
                },
                detailFormatter: function (index, row, element) {
                    var result =
                            '<button class="btn btn-primary application" data-toggle="modal" data-target="#email-modal" data-id=' + row.id + ' data-touid="' + row.applicant.id + '">Send Email</a>' +
                            '<button class="btn btn-primary application" data-toggle="modal" data-target="#file-generate-modal" data-id=' + row.id + '>Generate Document</a>' +
                            '<button class="btn btn-primary application" id="REVIEWING" disabled="disabled" onclick="handleApplicationStatusChange(\'REVIEWING\',' + index + ')"">Start Review</a>' +
                            '<button class="btn btn-success application" id="PASSED" disabled="disabled" onclick="handleApplicationStatusChange(\'PASSED\',' + index + ')">Pass</button>' +
                            '<button class="btn btn-danger application" id="FAILED" disabled="disabled" onclick="handleApplicationStatusChange(\'FAILED\',' + index + ')">Fail</button>' +
                            '<button class="btn btn-primary application" id="OFFER_SENT" disabled="disabled" onclick="handleApplicationStatusChange(\'OFFER_SENT\',' + index + ')">Offer Sent</button>' +
                            '<button class="btn btn-success application" id="OFFER_ACCEPTED" disabled="disabled" onclick="handleApplicationStatusChange(\'OFFER_ACCEPTED\',' + index + ')">Offer Accepted</button>' +
                            '<button class="btn btn-danger application" id="OFFER_DECLINED" disabled="disabled" onclick="handleApplicationStatusChange(\'OFFER_DECLINED\',' + index + ')">Offer Declined</button>';
                    return result;
                },
                onExpandRow: function(index, row, $detail) {
                    switch (row.status) {
                        case "SUBMITTED":
                            $detail.find("#REVIEWING").prop( "disabled", false );
                            break;
                        case "REVIEWING":
                            $detail.find("#PASSED, #FAILED").prop( "disabled", false );
                            break;
                        case "PASSED":
                            $detail.find("#OFFER_SENT").prop( "disabled", false );
                            break;
                        case "OFFER_SENT":
                            $detail.find("#OFFER_ACCEPTED, #OFFER_DECLINED").prop( "disabled", false );
                            break;
                    }
                },
                filterControl: true,
                cookie: true,
                cookieIdTable: 'applicant_application',
            });
        }
        function handleApplicationStatusChange(status, index) {
            var notify = $.notify({
                icon: 'fa fa-info-circle',
                message: "Waiting...",
            });
            var application = $('#table').bootstrapTable('getData', true)[index];
            application.status = status;

            var url = "/api/job_application/";
            $.ajax({
                type: "PUT",
                url: url,
                data: JSON.stringify(application),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    notify.update('message', 'Done');
                    setTimeout(function () {
                        notify.close();
                    }, 1000);
                    $table.bootstrapTable('updateRow', {index: index, row: application});
                    $table.bootstrapTable('expandRow', index);
                }
            });
        }

        //]]>
    </script>
</div>
</body>
</html>