<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Job Post</title>
</head>
<body>

<!--/* Content of this page will be decorated by the elements of layout.html (task/layout) */-->
<div layout:fragment="content">
    <h3>Job Post</h3>
    <p id="created" style="display: none;"></p>
    <p id="last-edited" style="display: none;"></p>
    <form role="form">
        <div class="col-sm-5">
            <div class="form-group required">
                <label for="jobTitle" class="control-label">Title</label>
                <input class="form-control" placeholder="Title" id="jobTitle" name="title"
                       required="required"/>
            </div>
            <div class="form-group">
                <label for="vacancies" class="control-label">Job Code</label>
                <a href="/job_profile" target="_blank" title="Click to view the job list">?</a>
                <input class="form-control" id="jobId" name="jobId" type="number" min="0" onchange="checkJobCode()" required="required"
                       readonly="readonly"/>
            </div>
            <div class="form-group">
                <label for="departmentName" class="control-label">Department</label>
                <input class="form-control" id="departmentName" name="department" required="required"
                       readonly="readonly"/>
            </div>
            <div class="form-group">
                <label for="jobCategory" class="control-label">Job Category</label>
                <input class="form-control" id="jobCategory" name="jobCategory" required="required"
                       readonly="readonly"/>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Job Description</label>
                <textarea class="form-control" id="description" name="description" rows="5"> </textarea>
            </div>
            <div class="form-group">
                <label for="requirement" class="control-label">Job Requirement</label>
                <textarea class="form-control" id="requirement" name="requirement" rows="5"> </textarea>
            </div>
            <div class="form-group">
                <label for="hours" class="control-label">Standard Hours</label>
                <input class="form-control" type="number" id="hours" name="hours"/>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group required">
                <label for="startDate" class="control-label">Contract Starting Date</label>
                <input class="form-control" placeholder="Contract Starting Date" id="startDate"
                       name="startDate" required="required"/>
            </div>
            <div class="form-group required">
                <label for="contractLength" class="control-label">Contract Length</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" placeholder="Contract Length" type="number" min="1"
                               id="contractLength" name="contractLength" required="required"/>
                    </div>
                    <div class="col-sm-6">
                        <input type="radio" name="contractLengthUnit" value="week" checked="checked"/> Week
                        <input type="radio" name="contractLengthUnit" value="month"/> Month
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="control-label">Contract Ending Date </label>
                <input class="form-control" placeholder="Contract Ending Date" id="endDate" name="endDate"
                       required="required" readonly="readonly"/>
            </div>
            <div class="form-group required">
                <label for="vacancies" class="control-label">Open Positions</label>
                <input class="form-control" placeholder="# of vacancies" type="number" min="1" id="vacancies" name="vacancies"
                       required="required"/>
            </div>
            <fieldset>
                <legend>For HR to Fill Only:</legend>
                <div class="form-group">
                    <label for="deadline" class="control-label">Deadline for Application</label>
                    <input class="form-control" placeholder="Leave blank = Post will close until all opening filled"
                           id="deadline" name="deadline"/>
                </div>
                <div class="form-group required">
                    <label for="payRate" class="control-label">Pay By</label>
                    <select class="form-control pay-rate-select" id="payRate" name="payRate" required="required">
                        <option value="HOURLY">Hour</option>
                        <option value="DAILY">Day</option>
                        <option value="WEEKLY">Week</option>
                        <option value="MONTHLY">Month</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label for="salary" class="control-label">Salary</label>
                    <input class="form-control" placeholder="Salary / Salary Range / Negotiable" type="input"
                           id="salary" name="salary" required="required"/>
                </div>
                <div class="form-group required">
                    <label for="reviewFlowId" class="control-label">Review Flow ID</label>
                    <a href="/review_flow" target="_blank" title="Click to view the review flow list">?</a>
                    <input class="form-control" placeholder="Review Flow ID" type="number" id="reviewFlowId"
                           name="reviewFlowId" required="required"/>
                </div>
                <button type="submit" class="btn btn-default" id="save">Save</button>
                <button type="submit" class="btn btn-success" id="publish" style="display: none;">Publish</button>
                <button type="submit" class="btn btn-warning" id="unpublish" style="display: none;">Unpublish</button>
            </fieldset>
        </div>
    </form>


    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var request;
        var reviewFlow;
        var job;

        jQuery(document).ready(function ($) {
            $("#startDate").datepicker();
            $("#deadline").datepicker({ minDate: new Date() });

            handleContractDate();

            if (window.location.pathname == "/job_post/create") {
                request = JSON.parse(localStorage.getItem("request"));
                if (request) {
                    loadRequestData();
                } else {
                    $("#jobId").prop('readonly', false)
                }
                handleFormSubmission("post");
                $("#publish").show();
            } else {
                loadJobPostForm();
            }
        });

        function handleContractDate() {
            $("#startDate, #contractLength, input[name='contractLengthUnit']").change(function () {
                var length = parseInt($("#contractLength").val());
                if ($("input[name='contractLengthUnit']:checked").val() == "month") {
                    endDate = Date.parse($("#startDate").val()).addMonths(length);
                } else {
                    endDate = Date.parse($("#startDate").val()).addWeeks(length);
                }
                $("#endDate").val(endDate.toString("yyyy-M-dd"));
            });
        }
        function loadRequestData() {
            $.each(request, function (k, v) {
                var sel = $("#" + k);
                if (sel.length) {
                    sel.val(v);
                }
            });
            var cl = request.contractLength.split(" ");
            $("#contractLength").val(cl[0]);
            $('input:radio[name="contractLengthUnit"]').filter('[value="' + cl[1] + '"]').attr('checked', true);

            $("#jobId").val(request.job.id);
            $("#jobCategory").val(request.job.jobCategory.name);
            $("#departmentName").val(request.department.name);

            if (request.reviewFlow) {
                $("#reviewFlowId").val(request.reviewFlow.id);
            }
        }
        function handleFormSubmission(method) {

            $('form').on('submit', function (e) {
                e.preventDefault();
                checkReviewFlowExistence();
                if ($("#reviewFlowId").val() && reviewFlow == null) {
                    $.notify({
                        icon: 'fa fa-info-circle',
                        message: "Please input a valid review flow id.",
                    }, {
                        delay: 500,
                    })
                }
                else {
                    var data = {};
                    $.each($('form').serializeArray(), function (i, field) {
                        switch (field.name) {
                            case "startDate":
                            case "deadline":
                            case "endDate":
                                data[field.name] = Date.parse(field.value);
                                break;
                            case "contractLength":
                                data[field.name] = field.value + " " + $("input[name='contractLengthUnit']:checked").val();
                                break;
                            case "jobId":
                                if (request) {
                                    data.job = request.job;
                                } else {
                                    data.job = job;
                                }
                                break;
                            case "reviewFlowId":
                                if (field.value) {
                                    data.reviewFlow = {id: field.value};
                                }
                                break;
                            default:
                                data[field.name] = field.value;
                        }
                    });
                    if (request) {
                        data.department = request.department;
                    } else {
                        data.department = job.department;
                    }

                    if (method == "put") {
                        data.author = request.author;
                        data.createdDate = request.createdDate;
                        data.id = request.id;
                    }

                    var btn = $(document.activeElement)[0].id;
                    if (btn == "unpublish") {
                        data.published = false;
                    } else if (btn == "publish") {
                        data.published = true;
                    } else { // save
                        data.published = request.published;
                    }

                    notify = $.notify({
                        icon: 'fa fa-info-circle',
                        message: "Waiting...",
                    });
                    $.ajax({
                        type: method,
                        url: '/api/job_post',
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        success: function (post) {
                            notify.update('message', "Done");
                            setTimeout(function () {
                                notify.close();
                            }, 1000);
                            localStorage.removeItem("request");
                            window.history.replaceState({}, '/job_post/create', '/job_post/' + post.id);
                            window.location.href = "/job_post";
                        }
                    });
                }
            });
        }
        function checkReviewFlowExistence() {
            var id = $("#reviewFlowId").val();
            if (id) {
                $.ajax({
                    type: 'get',
                    url: '/api/review_flow/' + id,
                    async: false,
                    success: function (data) {
                        reviewFlow = data;
                        if (reviewFlow == "") {
                            reviewFlow = null;
                            return false;
                        } else {
                            return true;
                        }
                    }
                });
            }
        }
        function loadJobPostForm() {
            $.ajax({
                type: 'get',
                url: '/api' + window.location.pathname,
                success: function (data) {
                    request = data;
                    loadRequestData();
                    if (request.published == false) {
                        $("#publish").show();
                    } else {
                        $("#unpublish").show();
                    }
                    $("#jobTitle").val(request.title);
                    $("#last-edited").html("Last edited by " + request.lastEditor.name + ", " + (new Date(request.lastModifiedDate)).toString("yyyy/M/dd hh:mm:ss")).show();
                    $("#created").html("Created by " + request.author.name + ", " + (new Date(request.createdDate)).toString("yyyy/M/dd hh:mm:ss")).show();
                    handleFormSubmission("put");
                }
            });
        }

        function checkJobCode() {
            $.ajax({
                type: "get",
                url: '/api/job/' + $("#jobId").val(),
                success: function (data) {
                    if (data == "") {
                        $("#jobId").val("");
                        $.notify({
                            icon: 'fa fa-info-circle',
                            message: "Please input a valid job code.",
                        }, {
                            delay: 500,
                        })
                    }  else {
                        job = data;
                        $("#jobTitle").val(data.title);
                        $("#description").val(data.description);
                        $("#requirement").val(data.requirement);
                        $("#hours").val(data.hours);
                        $("#departmentName").val(data.department.name);
                        $("#jobCategory").val(data.jobCategory.name);
                    }
                },
            });
        }
        //]]>
    </script>
</div>
</body>
</html>



