<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Career</title>
    <link th:href="@{/static/css/jquery.timepicker.css}" rel="stylesheet"/>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.timepicker.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <style>
        .btn.application {
            margin: 0 10px;
        }
    </style>

    <div class="row">
        <h3>Job Application List</h3>
        <form class="form-inline" role="form" id="status-checkboxes">
            Status:
            <div class="checkbox"><label><input v-model="allStatus" type="checkbox"/> ALL </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="SUBMITTED" checked="checked"/> SUBMITTED </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="REVIEWING" checked="checked"/> REVIEWING </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="PASSED" checked="checked"/> PASSED </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="FAILED"/> FAILED </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="OFFER_SENT" checked="checked"/> OFFER_SENT </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="OFFER_ACCEPTED" checked="checked"/> OFFER_ACCEPTED </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="OFFER_DECLINED" checked="checked"/> OFFER_DECLINED </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="CONTRACTED" checked="checked"/> CONTRACTED </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="WITHDREW"/> WITHDREW </label></div>
            <div class="checkbox" v-bind:class="{'disabled': allStatus}"><label><input type="checkbox" v-model="status" v-bind:disabled="allStatus" value="CLOSED"/> CLOSED </label></div>
        </form>
        <div id="toolbar" class="btn-group">
            <button type="button" class="btn btn-primary" id="btn-profile-review" data-toggle="modal" data-target="#profile-review-modal" disabled="disabled">Profile Review</button>
        </div>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-detail-view="true"
               data-minimum-count-columns="1"
               data-id-field="id"
               smartDisplay="true">
        </table>
    </div>

    <div class="modal fade" id="profile-review-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Send profiles to: </h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" id="profile-review-form">
                        <div class="form-group required">
                            <label for="reviewer-select" class="col-sm-2 control-label">Reviewers</label>
                            <div class="col-sm-10">
                                <select v-model="reviewers" class="form-control" id="reviewer-select" multiple="multiple" required="required"><option></option></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="col-sm-2 control-label">Note</label>
                            <div class="col-sm-10">
                                <textarea v-model="notes" class="form-control" id="note"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="interview-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Setup an interview </h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" id="interview-form">
                        <div class="form-group required">
                            <label for="interviewer-select" class="col-sm-2 control-label">Interviewer <a href="schedule_filter" target="_blank">?</a></label>
                            <div class="col-sm-10">
                                <select v-model="reviewers" class="form-control" id="interviewer-select" required="required"><option></option></select>
                            </div>
                        </div>
                        <div class="form-group required form-inline">
                            <label class="col-sm-2 control-label">Time</label>
                            <div class="col-sm-10">
                                <input v-model="date" id="date" class="form-control" type="date" required="required"/>
                                <input id="from" class="form-control" type="datetime" required="required"/> -
                                <input id="to" class="form-control" type="datetime" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="col-sm-2 control-label">Note</label>
                            <div class="col-sm-10">
                                <textarea v-model="notes" class="form-control" id="note"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="review-modal" tabindex="-1" role="dialog">
        <div v-if="event" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table id="review-table"
                           data-show-header="true"
                           data-id-field="id"
                           smartDisplay="true"
                           style="word-wrap: break-word">
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="form/email_form :: email_form"></div>
    <div th:replace="form/file_generate_form :: file_generate_form"></div>
    <div th:replace="career/career_job_post :: job_post_modal"></div>
    <div th:replace="form/contract_form :: contract_form"></div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var $table = $('#table');
        var $status_checkboxes = $("#status-checkboxes");
        var url = "/api/job_application";
        var $profile_review_btn = $("#btn-profile-review")

        var profileReviewModalVM = new Vue({
            el: '#profile-review-modal',
            data: {
                notes: null,
                reviewers: null,
            },
        })
        var interviewModalVM = new Vue({
            el: '#interview-modal',
            data: {
                notes: null,
                interviewer: null,
                date: null,
            },
        })

        var statusVM = new Vue({
            el: '#status-checkboxes',
            data: {
                status: [],
                allStatus: false
            },
        })

        jQuery(document).ready(function ($) {
            $status_checkboxes.on('change' , "input" , function(){
                $table.bootstrapTable('refresh');
            });

            initTable();

            initProfileReviewModal();
            initInterviewModal();
            initReviewModal();
        });

        function initTable() {
            var columns = [{
                field: 'state',
                checkbox: true,
                formatter: function (index, row, element) {
                    if (row.status != "REVIEWING" && row.status != "SUBMITTED") {
                        return {
                            disabled: true
                        };
                    }
                }
            }, {
                field: 'applyDate',
                title: 'Applied',
                sortable: true,
                formatter: function (index, row, element) {
                    return (new Date(index)).toString("yyyy/M/dd");
                }
            }, {
                field: 'id',
                title: 'ID',
                sortable: true,
            }, {
                field: 'applicant',
                title: 'Applicant',
                sortable: true,
                formatter: function (index, row, element) {
                    return '<a href="/job_application/' + row.id + '">' + index.name + '</a>';
                }
            }, {
                field: 'title',
                title: 'Job Post',
                filterControl: 'input',
                formatter: function (index, row, element) {
                    return '<a href="/job_post/' + row.jobPost.id + '">' + row.jobPost.title + ' </a>' +
                            '<a data-toggle="modal" data-target="#job-post-modal"  data-id="' + row.jobPost.id + '" title="preview" style="cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></a>';
                }
            }, {
                field: 'location',
                title: 'Location',
                filterControl: 'select'
            }, {
                field: 'department',
                title: 'Department',
                filterControl: 'select'
            }, {
                field: 'status',
                title: 'Status',
                sortable: true,
                filterControl: 'select',
                formatter: function (index, row, element) {
                    if (index == "REVIEWING" && row.newFinished > 0) {
                        return '<b><a data-toggle="modal" data-target="#review-modal"  data-index="' + element + '" style="cursor: pointer;">' + index + ' </a></b><span class="badge">' + row.newFinished + '</span>'
                    } else if (index == "REVIEWING") {
                        return '<a data-toggle="modal" data-target="#review-modal"  data-index="' + element + '" style="cursor: pointer;">' + index + ' </a>'
                    } else {
                        return index;
                    }
                }
            }];

            $table.bootstrapTable({
                columns: columns,
                url: url,
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    if (p.sort) {
                        data.sort = p.sort;
                    } else {
                        data.sort = "id";
                    }
                    data.order = p.order;
                    data.limit = p.limit;
                    data.offset = p.offset;
                    var tmp = $.parseJSON(p.filter);
                    var filter = {};
                    for (var key in tmp) {
                        filter[key] = tmp[key];
                    }
                    if (!statusVM.allStatus && statusVM.status) {
                        filter.statusList = statusVM.status;
                    }
                    data.filter = JSON.stringify(filter);
                    return data;
                },
                responseHandler: function (res) {
                    $.each(res.rows, function (i, v) {
                        res.rows[i].location = res.rows[i].jobPost.department.location;
                        res.rows[i].department = res.rows[i].jobPost.department.name;
                    });
                    return res;
                },
                detailFormatter: function (index, row, element) {
                    var result =
                            '<button class="btn btn-primary application" data-toggle="modal" data-target="#email-modal" data-id=' + row.id + ' data-touid="' + row.applicant.id + '">Send Email</a>' +
                            '<button class="btn btn-primary application" data-toggle="modal" data-target="#file-generate-modal" data-id=' + row.id + '>Generate Document</a>' +
                            '<button class="btn btn-primary application" id="REVIEWING" disabled="disabled" data-toggle="modal" data-target="#interview-modal" data-id=' + row.id + '>Interview</a>' +
                            '<button class="btn btn-success application" id="PASSED" disabled="disabled" onclick="handleApplicationStatusChange(\'PASSED\',' + index + ')">Pass</button>' +
                            '<button class="btn btn-danger application" id="FAILED" disabled="disabled" onclick="handleApplicationStatusChange(\'FAILED\',' + index + ')">Fail</button>' +
                            '<button class="btn btn-primary application" id="OFFER_SENT" disabled="disabled" onclick="handleApplicationStatusChange(\'OFFER_SENT\',' + index + ')">Offer Sent</button>' +
                            '<button class="btn btn-success application" id="OFFER_ACCEPTED" disabled="disabled" onclick="handleApplicationStatusChange(\'OFFER_ACCEPTED\',' + index + ')">Offer Accepted</button>' +
                            '<button class="btn btn-danger application" id="OFFER_DECLINED" disabled="disabled" onclick="handleApplicationStatusChange(\'OFFER_DECLINED\',' + index + ')">Offer Declined</button>' +
                            '<button class="btn btn-primary application" id="CONTRACTED" disabled="disabled" data-toggle="modal" data-target="#contract-modal" data-action="create" data-index=' + index + '>Create Contract</a>';
                    return result;
                },
                onExpandRow: function(index, row, $detail) {
                    switch (row.status) {
                        case "SUBMITTED":
                            $detail.find("#REVIEWING").prop( "disabled", false );
                            break;
                        case "REVIEWING":
                            $detail.find("#REVIEWING").prop( "disabled", false );
                            $detail.find("#PASSED, #FAILED").prop( "disabled", false );
                            break;
                        case "PASSED":
                            $detail.find("#OFFER_SENT").prop( "disabled", false );
                            break;
                        case "OFFER_SENT":
                            $detail.find("#OFFER_ACCEPTED, #OFFER_DECLINED").prop( "disabled", false );
                            break;
                        case "OFFER_ACCEPTED":
                            $detail.find("#CONTRACTED").prop( "disabled", false );
                            break;
                    }
                },
                filterControl: true,
                cookie: true,
                cookieIdTable: 'applicant_application',
            });
        }

        var review_table = $("#review-table")
        function initReviewModal() {
            initReviewTable();
            $('#review-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var index = button.data('index')
                var application = $table.bootstrapTable('getData', true)[index];
                review_table.bootstrapTable('load', application.responses.sort(sortByRunNumber));

                $.ajax({
                    type: "post",
                    url: "/api/job_application/" + application.id + "/clearNewFinished",
                    success: function (data) {
                        $table.bootstrapTable('updateRow', {index: index, row: data});
                    }
                });

            })
        }
        function initReviewTable() {
            review_table.bootstrapTable({
                columns: [{
                    field: 'runNumber',
                    title: 'No.',
                }, {
                    field: 'reviewer.name',
                    title: 'Reviewer',
                    formatter: function (index, row, element) {
                        return '<a href="/user/' + row.reviewer.id + '">' + index + '</a>';
                    }
                }, {
                    field: 'type',
                    title: 'Review Type',
                }, {
                    field: 'response',
                    title: 'Comment',
                }, {
                    field: 'status',
                    title: 'Result',
                }],
            });
        }

        function initProfileReviewModal() {
            $table.on('check.bs.table uncheck.bs.table ' +
                    'check-all.bs.table uncheck-all.bs.table', function () {
                $profile_review_btn.prop('disabled', !$table.bootstrapTable('getSelections').length);
            });

            var reviewer_select = $("#reviewer-select")
            initEmployeeSelect(reviewer_select, "Search")

            reviewer_select.on('change',function(){
                profileReviewModalVM.reviewers = $(this).val();
            });

            $("#profile-review-form").on('submit', function (e) {
                e.preventDefault();
                submitProfileReviewForm();
            })
        }
        function submitProfileReviewForm() {
            var data = {};
            data.applications = getIdSelections();
            data.notes = profileReviewModalVM.notes;
            data.reviewers = profileReviewModalVM.reviewers;

            notify = $.notify({
                icon: 'fa fa-info-circle',
                message: "Sending...",
            });
            $.ajax({
                type: "post",
                url: "/api/job_application/profile_review",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#profile-review-modal").modal('hide');
                    $profile_review_btn.prop('disabled', true);

                    notify.update('message', 'Done');
                    setTimeout(function () {
                        notify.close();
                    }, 1000);
                    $table.bootstrapTable('refresh');
                }
            });
        }
        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
        }
        function initInterviewModal() {
            $('#interview-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id')

                var interview_form = $("#interview-form")
                if ( $('[type="date"]').prop('type') != 'date' ) {
                    $('[type="date"]').datepicker();
                }
                interview_form.find("#from,#to").timepicker();

                var interviewer_select = $("#interviewer-select")
                initEmployeeSelect(interviewer_select, "Search")
                interviewer_select.on('change',function(){
                    interviewModalVM.interviewer = {"id": $(this).val()};
                });

                interview_form.on('submit', function (e) {
                    e.preventDefault();
                    submitInterviewForm(id);
                })
            })
        }
        function submitInterviewForm(id) {
            var interview_form = $("#interview-form")
            var from = interview_form.find("#from")
            var to = interview_form.find("#to")

            var data = {};
            data.notes = interviewModalVM.notes;
            data.interviewer = interviewModalVM.interviewer;
            data.start = from.timepicker('getTime', new Date(interviewModalVM.date));
            data.end = to.timepicker('getTime', new Date(interviewModalVM.date));
            data.application = {"id": id};

            notify = $.notify({
                icon: 'fa fa-info-circle',
                message: "Sending...",
            });
            $.ajax({
                type: "post",
                url: "/api/job_application/interview",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#interview-modal").modal('hide');

                    notify.update('message', 'Done');
                    setTimeout(function () {
                        notify.close();
                    }, 1000);
                    $table.bootstrapTable('refresh');
                }
            });
        }

        function handleApplicationStatusChange(status, index) {
            var application = $table.bootstrapTable('getData', true)[index];
            application.status = status;

            if (status != 'CONTRACTED') {
                notify = $.notify({
                    icon: 'fa fa-info-circle',
                    message: "Waiting...",
                });
            }
            $.ajax({
                type: "PUT",
                url: "/api/job_application/",
                data: JSON.stringify(application),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    notify.update('message', 'Done');
                    setTimeout(function () {
                        notify.close();
                    }, 1000);
                    $table.bootstrapTable('updateRow', {index: index, row: application});
                    $table.bootstrapTable('expandRow', index);
                }
            });
        }
        function sortByRunNumber(a, b){
            var aa = a.runNumber;
            var bb = b.runNumber;
            return ((aa < bb) ? -1 : ((aa > bb) ? 1 : 0));
        }
        //]]>
    </script>
</div>
</body>
</html>