<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="contract_form">
    <div class="modal fade" id="contract-modal" role="dialog">
        <div v-if="contract" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 v-if="action!='edit'" class="modal-title">Create a contract</h4>
                    <h4 v-if="action=='edit'" class="modal-title">Edit</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" id="contract-form">
                        <div class="form-group required">
                            <label for="user" class="col-sm-4 control-label">Employee</label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="contract.user.name" id="user" name="user" required="required" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group required" id="field-id">
                            <label for="jobId" class="col-sm-4 control-label">Job Code <span><a href="/job_profile" target="_blank" title="Click to view the job list">?</a></span></label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="contract.job.id" id="jobId" name="jobId" type="number" onchange="checkJobCode()" required="required"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="startDate" class="col-sm-4 control-label">Contract Start Date</label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="contract.startDate" id="startDate" name="startDate" type="date" required="required"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="endDate" class="col-sm-4 control-label">Contract End Date</label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="contract.endDate" id="endDate" name="endDate" type="date" required="required"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="salary" class="col-sm-4 control-label">Salary</label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="contract.salary" id="salary" name="salary" required="required"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="payRate" class="col-sm-4 control-label">Pay By</label>
                            <div class="col-sm-8">
                                <select class="form-control pay-rate-select" v-model="contract.payRate" id="payRate" name="payRate" required="required">
                                    <option value="HOURLY">Hour</option>
                                    <option value="DAILY">Day</option>
                                    <option value="WEEKLY">Week</option>
                                    <option value="MONTHLY">Month</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <button v-if="action=='edit'" onclick="submitContractForm(); return false;" class="btn btn-primary" id="edit">Save</button>
                                <button v-if="action!='edit'" onclick="submitContractForm(); return false;" class="btn btn-primary" id="create">Create</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var contractVM = new Vue({
            el: '#contract-modal',
            data: {
                contract: null,
                action: null,
                index: null
            },
        })


        jQuery(document).ready(function ($) {
            $('#contract-modal').on('show.bs.modal', function (event) {
                //$("#startDate").datepicker();
                //$("#endDate").datepicker();

                var button = $(event.relatedTarget);
                contractVM.index = button.data('index')
                contractVM.action = button.data('action');
                switch (contractVM.action) {
                    case 'create':
                        var application = $table.bootstrapTable('getData', true)[contractVM.index];

                        var contract = {};
                        contract.user = application.applicant;
                        contract.job = application.jobPost.job;
                        contract.startDate = application.jobPost.startDate;
                        contract.endDate = application.jobPost.endDate;
                        contract.salary = application.jobPost.salary;
                        contract.payRate = application.jobPost.payRate;
                        contractVM.contract = contract;
                        break;
                    case 'extend':
                    case 'edit':
                        var contract = $table.bootstrapTable('getData', true)[contractVM.index];
                        contractVM.contract = contract;
                        break;
                }
            })

        });
        function submitContractForm() {
            $('#contract-modal').modal('hide')

            var method;
            var message;
            switch (contractVM.action) {
                case 'create':
                    method = 'post';
                    break;
                case 'extend':
                    method = 'post';
                    message = 'The old contract has been transferred to job history';
                    break;
                case 'edit':
                    method = 'put';
                    message = 'Done';
                    break;
            }

            notify = $.notify({
                icon: 'fa fa-info-circle',
                message: "Saving...",
            });

            $.ajax({
                type: method,
                url: '/api/contract',
                data: JSON.stringify(contractVM.contract),
                contentType: "application/json; charset=utf-8",
                success: function (job) {
                    if (contractVM.action == 'create') {
                        handleApplicationStatusChange('CONTRACTED', contractVM.index);
                    } else {
                        notify.update('message', message);
                        setTimeout(function () {
                            notify.close();
                        }, 1000);
                        $table.bootstrapTable('refresh');
                    }
                },
                error: function () {
                    notify.update('message', "Error");
                }
            });
        }
        function checkJobCode() {
            $.ajax({
                type: "get",
                url: '/api/job/' + $("#jobId").val(),
                success: function (data) {
                    if (data == "") {
                        $("#jobId").val("");
                        $.notify({
                            icon: 'fa fa-info-circle',
                            message: "Please input a valid job code.",
                        }, {
                            delay: 500,
                        })
                    } else {
                        job = data;
                    }
                },
            });
        }
        //]]>
    </script>
</div>
</body>
</html>



