<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
</head>
<body>
<div th:fragment="email_form">
    <div class="modal fade" id="emailModel" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Send Email</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="email-form" class="form-horizontal">
                        <div class="form-group required">
                            <label for="subject" class="col-sm-2 control-label">Subject</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="subject" placeholder="subject"
                                       required="required" size="60"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="to" class="col-sm-2 control-label">To</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="to" placeholder="johnsmith@example.com"
                                       required="required" size="60" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="body" class="col-sm-2 control-label">Body</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="body" required="required"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-success">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:inline="javascript">
        var recipient;
        jQuery(document).ready(function ($) {
            $("#email-form").submit(function (e) {
                e.preventDefault();
                $('#emailModel').modal('hide')
                submitEmailForm();
            })

            $('#emailModel').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var toUid = button.data('touid') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

                $.ajax({
                    type: "get",
                    url: "/api/user/" + toUid,
                    async: false,
                    success: function (data) {
                        recipient = data;
                    }
                });
                var modal = $(this);
                modal.find('.modal-title').text('New email to ' + recipient.name);
                modal.find('.modal-body #toName').val(recipient.name);
                modal.find('.modal-body #to').val(recipient.name + ' (' + recipient.email + ')');
            })
        });

        function submitEmailForm() {
            data = {};
            data.from = currentUser;
            data.to = recipient;

            data.subject = $("#subject").val();
            data.body = $("#body").val();

            $.ajax({
                type: "post",
                url: "/api/email",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                }
            });
        }


    </script>
</div>
</body>
</html>