<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="email_form">
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.insert-at-caret.min.js}"></script>
    <div class="modal fade" id="emailModel" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Send Email</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="email-form" class="form-horizontal">
                        <div class="form-group required">
                            <label for="subject" class="col-sm-2 control-label">Subject</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" maxlength="100" required="required"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="to" class="col-sm-2 control-label">To</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="to" placeholder="johnsmith@example.com" required="required" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="to" class="col-sm-2 control-label">Template <a href="file_template" title="Click to view the file template list" target="_blank">?</a></label>
                            <div class="col-sm-10">
                                <select class="form-control" id="fileTemplate" name="fileTemplate">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="body" class="col-sm-2 control-label">Body</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="body" required="required"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-success">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:inline="javascript">
        var recipient;

        var email_editor = CKEDITOR.replace( 'body' );
        var email_form = $("#email-form");
        var email_file_template_select = email_form.find("#fileTemplate")

        jQuery(document).ready(function ($) {
            initFileTemplateList(email_file_template_select, "Select a template");

            email_file_template_select.on("select2:select", function (e) {
                loadFileTemplateForm(email_file_template_select.val(), email_editor);
            });

            email_form.submit(function (e) {
                e.preventDefault();
                $('#emailModel').modal('hide')
                submitEmailForm();
            })

            $('#emailModel').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var toUid = button.data('touid') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

                $.ajax({
                    type: "get",
                    url: "/api/user/" + toUid,
                    async: false,
                    success: function (data) {
                        recipient = data;
                    }
                });
                var modal = $(this);
                modal.find('.modal-title').text('New email to ' + recipient.name);
                modal.find('.modal-body #toName').val(recipient.name);
                modal.find('.modal-body #to').val(recipient.name + ' (' + recipient.email + ')');
            })
        });

        function submitEmailForm() {
            data = {};
            data.from = currentUser;
            data.to = recipient;

            data.subject = $("#subject").val();
            data.body = $("#body").val();

            $.ajax({
                type: "post",
                url: "/api/email",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                }
            });
        }

        function initFileTemplateList($select, placeholder) {
            $.ajax({
                type: 'get',
                url: "/api/file_template/all/",
                success: function (data) {
                    var file_templates = $.map(data, function (obj) {
                        return {id: obj.id, text: obj.title + ' (by ' + obj.author.name + ')'};
                    })
                    $select.html('').select2({data: [{id: '', text: ''}]});
                    $select.select2({
                        data: file_templates,
                        placeholder: placeholder,
                    });

                }
            });
        }
        function loadFileTemplateForm(id, $editor) {
            $.ajax({
                type: "get",
                url: "/api/file_template/" + id,
                async: false,
                success: function (data) {
                    file_template = data;
                    $editor.setData(data.content);
                }
            });
        }
    </script>
</div>
</body>
</html>