<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="email_form">
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.insert-at-caret.min.js}"></script>
    <div class="modal fade" id="email-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Send Email</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="email-form" class="form-horizontal">
                        <div class="form-group required">
                            <label for="subject" class="col-sm-2 control-label">Subject</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" maxlength="100" required="required"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="to" class="col-sm-2 control-label">To</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="to" placeholder="johnsmith@example.com" required="required" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attachment" class="col-sm-2 control-label">Attachment <a href="#" title="Click to view user document list" target="_blank">?</a></label>
                            <div class="col-sm-10">
                                <select class="form-control" id="attachment" name="attachment"  multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fileTemplate" class="col-sm-2 control-label">Template <a href="file_template" title="Click to view the file template list" target="_blank">?</a></label>
                            <div class="col-sm-10">
                                <select class="form-control" id="fileTemplate" name="fileTemplate"><option></option></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="body" class="col-sm-2 control-label">Body</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="body" required="required"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#preview-modal"><i class="fa fa-eye"></i></button>
                                <button type="submit" class="btn btn-success">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="preview-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="file-preview"></div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:inline="javascript">
        var recipient;
        var job_application_id;
        var applicant_id;
        var parsed_body;

        var email_editor = CKEDITOR.replace( 'body' );
        var email_form = $("#email-form");
        var email_file_template_select = email_form.find("#fileTemplate")

        jQuery(document).ready(function ($) {
            initFileTemplateList(email_file_template_select, "Template");

            email_file_template_select.on("select2:select", function (e) {
                loadFileTemplateForm(email_file_template_select.val(), email_editor);
            });

            email_form.submit(function (e) {
                e.preventDefault();
                $('#email-modal').modal('hide')
                submitEmailForm();
            })

            $('#email-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                applicant_id = button.data('touid')
                job_application_id = button.data('id')

                $.ajax({
                    type: "get",
                    url: "/api/user/" + applicant_id,
                    async: false,
                    success: function (data) {
                        recipient = data;
                    }
                });
                var modal = $(this);
                modal.find('.modal-title').text('New email to ' + recipient.name);
                modal.find('.modal-body #toName').val(recipient.name);
                modal.find('.modal-body #to').val(recipient.name + ' (' + recipient.email + ')');
                modal.find('label,[for="attachment"] a').prop('href', '/job_application/' + job_application_id);

                initAttachmentList(email_form.find("#attachment"), "Attachments")
            })
            $('#preview-modal').on('show.bs.modal', function (event) {
                loadFilePreview($(this).find("#file-preview"), email_editor);
            })
        });

        function submitEmailForm() {
            email = {};
            email.from = currentUser;
            email.to = recipient;
            email.subject = $("#subject").val();
            email.body = loadFilePreview(null, email_editor);
            email.attachments = email_form.find("#attachment").val();

            $.ajax({
                type: "post",
                url: "/api/email",
                data: JSON.stringify(email),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                }
            });
        }
        function initAttachmentList($select, placeholder) {
            $.ajax({
                type: 'get',
                url: "/api/file/" + applicant_id + "/" + "DOCUMENT",
                success: function (data) {
                    var documents = $.map(data, function (obj) {
                        return {id: obj.id, text: obj.name};
                    })
                    $select.html('').select2({data: [{id: '', text: ''}]});
                    $select.select2({
                        data: documents,
                        placeholder: placeholder,
                    });
                }
            });
        }
    </script>
</div>
</body>
</html>