<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="file_upload_form">
    <form role="form" id="file-upload-form">
        <div class="form-group required">
            <label for="name" class="control-label">Document name </label>
            <input class="form-control" id="name" name="name" required="required"/>
        </div>
        <div class="form-group required">
            <label for="file" class="control-label">Browse and attach a document</label>
            <i class="fa fa-question-circle" aria-hidden="true"
               title="Maximum size: 25Mb. Type of files accpeted: doc, pdf, txt, jpg, gif, png"></i>

            <input class="form-control" type="file" accept="*" id="file" name="file" required="required"/>
        </div>
        <div class="form-group required">
            <label for="info" class="control-label">Additional details on attachment(s)</label>
            <textarea class="form-control" id="info" name="info" rows="5"> </textarea>
        </div>
        <input class="form-control" type="hidden" name="type" id="type" th:value="application"/>
        <button type="submit" class="btn btn-primary" id="save" style="float: right">Upload</button>
    </form>

    <script type="text/javascript" th:inline="javascript">
        var notify;
        function uploadFile() {
            var formData = new FormData($('#file-upload-form')[0]);
            formData.append("user", currentUser.id);

            notify = $.notify({
                icon: 'fa fa-info-circle',
                message: "Uploading...",
            });
            $.ajax({
                url: "/api/file",
                type: "POST",
                data: formData,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    if (data.response == "ERROR") {
                        if (confirm(data.detail)) {
                            formData.append("overwrite", true);
                            $.ajax({
                                url: "/api/file",
                                type: "POST",
                                data: formData,
                                enctype: 'multipart/form-data',
                                processData: false,
                                contentType: false,
                                cache: false,
                                success: function (data) {
                                    $('form')[0].reset();
                                    $('#table').bootstrapTable('refresh');
                                    notify.close();
                                }
                            });
                        } else {
                            notify.close();
                        }
                    } else {
                        $('form')[0].reset();
                        $('#table').bootstrapTable('refresh');
                        notify.close();
                    }
                }
            });
        }
    </script>
</div>
</body>
</html>