<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="file_template_form">
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.insert-at-caret.min.js}"></script>

    <div class="modal fade" id="file-template-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Create a file template</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="file-template-form">
                        <div class="form-group required">
                            <input type="text" class="form-control" id="title" placeholder="Title" maxlength="100" required="required"/>
                        </div>
                        <div class="form-group required">
                            <button class="btn btn-default" name=" $[applicant_name] " onclick="insertVariable(this.name);return false;">Applicant name</button>
                            <button class="btn btn-default" name=" $[job_title] " onclick="insertVariable(this.name);return false;">Job title</button>
                            <button class="btn btn-default" name=" $[department] " onclick="insertVariable(this.name);return false;">Department</button>
                            <button class="btn btn-default" name=" $[location] " onclick="insertVariable(this.name);return false;">Location</button>
                            <button class="btn btn-default" name=" $[start_date] " onclick="insertVariable(this.name);return false;">Start date</button>
                            <button class="btn btn-default" name=" $[end_date] " onclick="insertVariable(this.name);return false;">End date</button>
                            <button class="btn btn-default" name=" $[salary] " onclick="insertVariable(this.name);return false;">Salary</button>
                            <button class="btn btn-default" name=" $[pay_rate] " onclick="insertVariable(this.name);return false;">Pay rate</button>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="content" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var file_template_editor = CKEDITOR.replace( 'content' );
        $.fn.insertAtCaret = function (v) {
            file_template_editor.insertText(v);
        };

        var file_template_form = $("#file-template-form");
        var file_template;

        function insertVariable(v) {
            $("#content").insertAtCaret(v);
        }
        jQuery(document).ready(function ($) {

            file_template_form.submit(function (e) {
                e.preventDefault();
                $('#file-template-modal').modal('hide')
                submitFileTemplateForm();
            })

            $('#file-template-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var id = button.data('id') // Extract info from data-* attributes

                if (id) {
                    loadFileTemplateForm(id);
                    $(this).find('.modal-title').text('Edit');
                } else {
                    file_template = null;
                    file_template_form.find("#title").val("");
                    file_template_editor.setData("");
                    $(this).find('.modal-title').text('Create a file template');
                }
            })
        });

        function loadFileTemplateForm(id) {
            $.ajax({
                type: "get",
                url: "/api/file_template/" + id,
                async: false,
                success: function (data) {
                    file_template = data;
                    file_template_form.find("#title").val(data.title);
                    file_template_editor.setData(data.content);
                }
            });
        }

        function submitFileTemplateForm() {
            if (!file_template) {
                file_template = {};
            }
            file_template.title = file_template_form.find("#title").val();
            file_template.content = file_template_editor.getData();

            var notify = $.notify({
                icon: 'fa fa-info-circle',
                message: "Saving...",
            });
            $.ajax({
                type: "post",
                url: "/api/file_template",
                data: JSON.stringify(file_template),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $table.bootstrapTable('refresh');
                    notify.close();
                }
            });
        }
        //]]>
    </script>
</div>
</body>
</html>