<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="file_generate_form">
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.insert-at-caret.min.js}"></script>

    <div class="modal fade" id="file-generate-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Create a document</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="file-generate-form">
                        <div class="form-group">
                            <input class="form-control" id="name" name="name" placeholder="File Name" required="required" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="fileTemplate" name="fileTemplate">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group required">
                            <button class="btn btn-default" name=" $[applicant_name] " onclick="insertVariable(this.name);return false;">Applicant name</button>
                            <button class="btn btn-default" name=" $[job_title] " onclick="insertVariable(this.name);return false;">Job title</button>
                            <button class="btn btn-default" name=" $[department] " onclick="insertVariable(this.name);return false;">Department</button>
                            <button class="btn btn-default" name=" $[location] " onclick="insertVariable(this.name);return false;">Location</button>
                            <button class="btn btn-default" name=" $[start_date] " onclick="insertVariable(this.name);return false;">Start date</button>
                            <button class="btn btn-default" name=" $[end_date] " onclick="insertVariable(this.name);return false;">End date</button>
                            <button class="btn btn-default" name=" $[salary] " onclick="insertVariable(this.name);return false;">Salary</button>
                            <button class="btn btn-default" name=" $[pay_rate] " onclick="insertVariable(this.name);return false;">Pay rate</button>
                            <button class="btn btn-default" name=" $[my_name] " onclick="insertVariable(this.name);return false;">My name</button>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="content" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#file-preview-modal"><i class="fa fa-eye"></i></button>
                            <button type="submit" class="btn btn-success">Create and save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="file-preview-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="file-preview"></div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var job_application_id;

        var file_generate_editor = CKEDITOR.replace( 'content' );
        var file_generate_form = $("#file-generate-form");
        var generate_file_template_select = file_generate_form.find("#fileTemplate")


        jQuery(document).ready(function ($) {
            initFileTemplateList(generate_file_template_select, "Template");

            generate_file_template_select.on("select2:select", function (e) {
                loadFileTemplateForm(generate_file_template_select.val(), file_generate_editor);
            });

            file_generate_form.submit(function (e) {
                e.preventDefault();
                submitFileGenerateForm();
            })

            $('#file-generate-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                job_application_id = button.data('id') // Extract info from data-* attributes
            })
            $('#file-preview-modal').on('show.bs.modal', function (event) {
                loadFilePreview($(this).find("#file-preview"), file_generate_editor);
            })
        });


        function submitFileGenerateForm() {
            data = {};
            data.id = job_application_id;
            data.name = file_generate_form.find("#name").val();
            data.html = file_generate_editor.getData();
            var notify = $.notify({
                icon: 'fa fa-info-circle',
                message: "Saving...",
            });
            $.ajax({
                type: "post",
                url: "/api/file/generate",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    if (res.response == "ERROR") {
                        if (confirm(res.detail)) {
                            data.overwrite = true;
                            $.ajax({
                                url: "/api/file/generate",
                                type: "post",
                                data: JSON.stringify(data),
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    notify.update('message', data.detail);
                                    setTimeout(function () {
                                        notify.close();
                                    }, 1000);
                                    $('#file-generate-modal').modal('hide')
                                }
                            });
                        } else {
                            notify.close();
                        }
                    } else {
                        notify.update('message', res.detail);
                        setTimeout(function () {
                            notify.close();
                        }, 1000);
                        $('#file-generate-modal').modal('hide')
                    }
                }
            });
        }

        function insertVariable(v) {
            $("#content").insertAtCaret(v);
        }
        $.fn.insertAtCaret = function (v) {
            file_generate_editor.insertText(v);
        };

        //]]>
    </script>
</div>
</body>
</html>