<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>My Request</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <link th:href="@{/static/bower_components/select2/dist/css/select2.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/select2/dist/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/moment/min/moment-with-locales.min.js}"></script>

</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h3>My requests</h3>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-detail-view="true"
               data-minimum-count-columns="1"
               data-id-field="sendDate"
               smartDisplay="true">
        </table>
        <a href="#" th:href="@{request/submit}"> Create a new request</a>
        </div>

        <script type="text/javascript" th:inline="javascript">


            jQuery(document).ready(function ($) {
                initTable();
            });

            function initTable() {
                var url = "/api/request/employee";

                $('#table').bootstrapTable({
                    columns: [{
                        field: 'sendDate',
                        title: 'Date',
                        sortable: true,
                        formatter: function (index, row, element) {
                            return moment(row.sendDate).format('MM/DD/YYYY h:mm');
                        }
                    }, {
                        field: 'title',
                        title: 'Title',
                        sortable: true,
                        filterControl: 'input'
                    }, {
                        field: 'requestType',
                        title: 'Request Type',
                        sortable: true,
                        filterControl: 'select'
                    }, {
                        field: 'status',
                        title: 'Status',
                        sortable: true,
                        filterControl: 'select',
                        formatter: function (index, row, element) {
                            if (row.status == 'APPROVED') {
                                return '<p class="bg-success">' + row.status + '</p>'
                            } else if (row.status == 'DECLINED') {
                                return '<p class="bg-danger">' + row.status + '</p>'
                            } else {
                                return '<p class="bg-warning">' + row.status + '</p>'
                            }
                        }
                    }],
                    url: url,
                    contentType: "application/x-www-form-urlencoded",
                    queryParamsType: "limit",
                    queryParams: function (p) {
                        var data = {};
                        if (p.sort) {
                            data.sort = p.sort;
                        } else {
                            data.sort = "sendDate";
                        }
                        data.order = p.order;
                        data.limit = p.limit;
                        data.offset = p.offset;
                        data.filter = p.filter;
                        return data;
                    },
                    detailFormatter: function (index, row, element) {
                        var result =
                                '<div class="row">' +
                                '<dl class="col-md-4">' +
                                '<dt>Request Type</dt>' + '<dd>' + row.type + '</dd>' +
                                '<dt>Status</dt>' + '<dd>' + row.status + '</dd>' +
                                '</dl>' +
                                '<dl class="col-md-4">' +
                                '<dt>Send Date</dt>' + '<dd>' + moment(row.sendDate).format('MM/DD/YYYY h:mm') + '</dd>' +
                                '<dt>Title</dt>' + '<dd>' + row.title + '</dd>' +
                                '<dt>Your Message</dt>' + '<dd>' + row.senderMessage + '</dd>' +
                                '</dl>' +
                                '<dl class="col-md-4">' +
                                '<dt>Reply Date</dt>' + '<dd>' + (row.replyDate == null ? "N/A" : moment(row.replyDate).format('MM/DD/YYYY h:mm'))+ '</dd>' +
                                '<dt>Replier</dt>' + '<dd>' + (row.replier == null ? "N/A" : row.replier.name) + '</dd>' +
                                '<dt>Replier\'s Message</dt>' + '<dd>' + (row.replierMessage == null ? "N/A" : row.replierMessage) + '</dd>' +
                                '</dl>' +
                                '</div>';

                        return result;
                    },
                    onPostBody: function () {
                        $(".filterControl input").attr('placeholder', 'Search');
                    },
                    filterControl: true,
                    sortOrder: 'desc',
                    cookie: true,
                    cookieIdTable: 'request',
                });
            }
        </script>
    </div>
</body>
</html>