<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="request">
    <div class="modal fade bs-example-modal-lg" id="request-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 id="title"></h3>
                    <hr/>
                    <div class="row">
                        <div class="col-md-4">Department: <span id="departmentName"></span></div>
                        <div class="col-md-4">Request Type: <span id="requestType"></span></div>
                        <div class="col-md-4">Status: <span id="status"></span></div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Sender:</dt>
                                <dd id="sender"></dd>
                                <dt>Date:</dt>
                                <dd id="sendDate"></dd>
                                <dt>Message:</dt>
                                <dd id="senderMessage"></dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Replier:</dt>
                                <dd id="replier"></dd>
                                <dt>Date:</dt>
                                <dd id="replyDate"></dd>
                                <dt>Message:</dt>
                                <dd id="replierMessage"></dd>
                            </dl>
                        </div>
                    </div>
                    <hr/>
                    <div class="row" id="staffing">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Staffing Request Type:</dt>
                                <dd id="staffingRequestType"></dd>
                                <dt>Vacancies:</dt>
                                <dd id="vacancies"></dd>
                                <dt>Starting Date:</dt>
                                <dd id="startDate"></dd>
                                <dt>Contract Length:</dt>
                                <dd id="contractLength"></dd>
                                <dt>Ending Date:</dt>
                                <dd id="endDate"></dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Job Code:</dt>
                                <dd id="jobId"></dd>
                                <dt>Job Title:</dt>
                                <dd id="jobTitle"></dd>
                                <dt>Job Description:</dt>
                                <dd id="description"></dd>
                                <dt>Job Requirement:</dt>
                                <dd id="requirement"></dd>
                                <dt>Standard Hour:</dt>
                                <dd id="hours"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[

        var id;
        jQuery(document).ready(function ($) {
            $("#staffing").hide();

            $('#request-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                id = button.data('id');
                loadRequest(id);
            })
        });

        function loadRequest(id) {
            $.ajax({
                type: 'get',
                url: '/api/request/' + id,
                success: function (data) {
                    if (data.requestType == "STAFFING") {
                        $("#staffing").show();
                        $.each(data.job, function (k, v) {
                            var sel = $("#" + k);
                            if (sel.length) {
                                if (v) {
                                    sel.html(v);
                                } else {
                                    sel.html("N/A")
                                }
                            }
                        });
                        $("#jobId").html(data.job.id);
                    }

                    $.each(data, function (k, v) {
                        var sel = $("#" + k);
                        if (sel.length) {
                            if (v) {
                                sel.html(v);
                            } else {
                                sel.html("N/A")
                            }
                        }
                    });

                    $("#departmentName").html(data.department.name);
                    $("#sender").html(data.sender.name);
                    $("#sendDate").html((new Date(data.sendDate)).toString("yyyy/M/dd hh:mm:ss"));
                    if (data.replier.id == data.sender.id) {
                        $("#replier").html("N/A");
                        $("#replyDate").html("N/A");
                    } else {
                        $("#replier").html(data.replier.name);
                        $("#replyDate").html((new Date(data.replyDate)).toString("yyyy/M/dd hh:mm:ss"));
                    }

                }
            });
        }
        //]]>
    </script>
</div>
</body>
</html>



