<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Calendar</title>

    <link th:href="@{/static/css/fullcalendar.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/moment/min/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/fullcalendar.min.js}"></script>
</head>
<body>

<div th:fragment="calendar_modal">
    <div class="modal fade" id="calendar-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="calendar/calendar :: calendar_script"></div>
</div>

<div th:fragment="calendar_script">
    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var event_modal = $("#event-modal")
        var calendar;
        var eventVM = new Vue({
            el: '#event-modal',
            data: {
                event: null,
                uid: null,
                method: null,
            },
            filters: {
                formatDate(date) {
                    return (new Date(date)).toString("yyyy/M/dd hh:mm")
                }
            }
        })

        function setUid(uid) {
            eventVM.uid = uid;
        }

        function loadEvents() {
            calendar = $('#calendar').fullCalendar({
                eventSources: [{
                    url: "/api/calendar/",
                    data : function() { // a function that returns an object
                        return {
                            id : eventVM.uid
                        };
                    },
                    success: function(events) {
                        $.each(events, function( index, event ) {
                            event.editable = currentUser.id == eventVM.uid;
                        });
                    },
                }],
                customButtons: {
                    trash: {
                        text: 'Trash',
                    }
                },
                header: {
                    left: 'prev, next today trash',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                //ignoreTimezone: false,
                timezone: 'local',
                defaultTimedEventDuration: '00:30:00',
                forceEventDuration: true,
                selectable: window.location.pathname == "/user" ? false : currentUser.id == eventVM.uid,
                selectHelper: true,
                select: function(start, end) {
                    var event = {};
                    event.title = null;
                    event.start = start;
                    event.end = end;
                    event.allDay = !start.hasTime() && !end.hasTime();
                    event.editable = true;

                    eventVM.method = 'create'
                    eventVM.event = event
                    event_modal.modal('show')

                    calendar.fullCalendar('unselect');
                },
                eventClick: function(event, element) {
                    eventVM.method = 'edit'
                    eventVM.event = event
                    event_modal.modal('show')
                },
                eventDrop: function(event, delta, revertFunc) {
                    if (event.editable) {
                        calendar.fullCalendar('updateEvent', event);
                        submitEvent(event);
                    }
                },
                dragRevertDuration: 1,
                eventDragStop: function(event,jsEvent) {
                    var trashEl = jQuery('.fc-trash-button');
                    var ofs = trashEl.offset();

                    var x1 = ofs.left;
                    var x2 = ofs.left + trashEl.outerWidth(true);
                    var y1 = ofs.top;
                    var y2 = ofs.top + trashEl.outerHeight(true);

                    if (jsEvent.pageX >= x1 && jsEvent.pageX<= x2 &&
                            jsEvent.pageY>= y1 && jsEvent.pageY <= y2) {
                        calendar.fullCalendar('removeEvents', event.id);
                        deleteEvent(event)
                    }
                }

            });

        }

        function submitEvent(event) {
            if (eventVM.method == "create" || eventVM.method == "edit") {
                event = eventVM.event;
            }
            event.user = {"id": eventVM.uid};
            $.ajax({
                type: "post",
                url: "/api/calendar/",
                data: JSON.stringify(event),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    event_modal.modal('hide')
                    if (eventVM.method == 'edit') {
                        calendar.fullCalendar('updateEvent', event);
                    } else if (eventVM.method == 'create') {
                        data.editable = currentUser.id == eventVM.uid;
                        calendar.fullCalendar('renderEvent', data, true);
                    }
                }
            });
            return false;
        }
        function deleteEvent(event) {
            $.ajax({
                type: "delete",
                url: "/api/calendar/",
                data: JSON.stringify(event),
                contentType: "application/json; charset=utf-8",
            });
        }

        //]]>
    </script>
</div>

<div layout:fragment="content">
    <h3>Calendar</h3>
    <div class="row">
       <div id="calendar"></div>
    </div>
    <div class="modal fade" id="event-modal" tabindex="-1" role="dialog">
        <div v-if="event" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" class="form-horizontal" id="event-form" onsubmit="return submitEvent();">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Time</label>
                            <div class="col-sm-10">
                                <p style="padding-top: 7px"> {{ event.start | formatDate}} - {{ event.end | formatDate}} </p>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input v-model="event.title" v-bind:readonly="!event.editable" placeholder="Title" id="title" class="form-control" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea v-model="event.description" v-bind:readonly="!event.editable" placeholder="Description" id="description" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" id="create">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="calendar/calendar :: calendar_script"></div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            var uid = currentUser.id;
            if (window.location.pathname != "/user/calendar") {
                uid = window.location.pathname.split("/")[2];
            }
            setUid(uid)
            loadEvents()
        });
        //]]>
    </script>
</div>
</body>
</html>