<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>User information</title>
    <script type="text/javascript" th:src="@{/static/js/weekpicker.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.autosave.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <h1>User Information</h1>
    <table class="table table-hover basic">
    </table>
    <button type="submit" class="btn btn-lg btn-success btn-block" id="btn-save">Save</button>

    <script type="text/javascript" th:inline="javascript">
        jQuery(document).ready(function ($) {
            $.ajax({
                type: "GET",
                url: window.location.pathname,
                success: function (data) {
                    var user = data.user;
                    var profile = data.userProfile;
                    var basic  =
                            '<tr><td><h4>Basic:</h4></td><td></td></tr>' +
                            '<tr><td>Name:</td><td>' + user.name + '</td></tr>' +
                            '<tr><td>Emp No.</td><td>' + user.id + '</td></tr>' +
                            '<tr><td>E-mail:</td><td>' + user.email + '</td></tr>' +
                            '<tr><td>Role:</td><td>' + user.role + '</td></tr>' +
                            '<tr><td>Status</td><td>' + user.status + '</td></tr>';
                    var detail =
                                '<tr><td><h4>Detail:</h4></td><td><button type="button" class="btn btn-link" id="btn-edit">Edit</button></td></tr>' +
                                '<tr><td>Phone Number:</td><td><input type="tel" class="form-control" id="phone" placeholder="Phone Number" /></td></tr>' +
                                '<tr><td>Address:</td><td><input type="text" class="form-control" id="address" placeholder="Address" /></td></tr>' +
                                '<tr><td><a href="/user/' + user.id + '/schedule">Schedules</a></td><td></td></tr>' +
                                '<tr><td><a href="/user/' + user.id + '/shifts">Shifts</a></td><td></td></tr>';

                    $("table.basic").append(basic + detail);
                    $("#btn-edit, #btn-save").hide();
                    if (user.active == true) {
                        if (profile != null) {
                            if (profile.phone != null) {
                                $("#phone").val(profile.phone);
                                $("#phone").prop('disabled', true);
                            }
                            if (profile.address != null) {
                                $("#address").val(profile.address);
                                $("#address").prop('disabled', true);
                            }
                            if ([[${currentUser.id}]] == user.id) {
                                $("#btn-edit").show();
                            }
                        } else if ([[${currentUser.id}]] == user.id) {
                            $("#btn-save").show();
                        }
                    } else {
                        if ([[${currentUser.id}]] == user.id) {
                            $("table.basic").append('<tr><td><strong>You have resigned</strong></td><td></td></tr>');
                        } else {
                            $("table.basic").append('<tr><td><strong>This employee has resigned</strong></td><td></td></tr>');
                        }
                    }
                }
            })

            $('table').on('click','td #btn-edit', function(){
                $("#phone, #address").prop('disabled', false);
                $("#btn-save").show();
                $("#btn-edit").hide();
            })
            $("#btn-save").click(function () {
                var data = {};
                var csrfName = [[${_csrf.parameterName}]];
                data[csrfName] = [[${_csrf.token}]];
                data.phone = $("#phone").val();
                data.address = $("#address").val();
                $.ajax({
                    type: "POST",
                    url: window.location.pathname,
                    data: data,
                    success: function (data) {
                        $("#btn-save").hide();
                        $("#btn-edit").show();
                        $("#phone, #address").prop('disabled', true);
                        $.notify({
                            icon: 'fa fa-info-circle',
                            message: data,
                        },{
                            element: 'body',
                            type: 'info',
                            delay: 3000,
                            placement: {
                                from: "bottom",
                                align: "right"
                            },
                        });
                    }
                })

            })
        });
    </script>
</div>
</body>
</html>