<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_career">
<head>
    <title>Career</title>
    <link th:href="@{/static/css/jquery.steps.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.steps.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.cookie.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <script type="text/javascript" th:inline="javascript">
        jQuery(document).ready(function ($) {
            $("#steps").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true,
                saveState: true,
                labels: {
                    cancel: "Cancel",
                    current: "current step:",
                    pagination: "Pagination",
                    finish: "Save and complete",
                    next: "Continue",
                    previous: "Previous",
                },
                /*onStepChanging: function (event, currentIndex, newIndex) {
                 if (currentIndex > 0) {
                 $("#contact-form").validate().settings.ignore = ":disabled,:hidden";
                 return $("#contact-form").valid();
                 }
                 return true;
                 },*/
                onStepChanged: function (event, currentIndex, priorIndex) {
                    if (currentIndex === 1) {
                        loadContactFormData();
                    }
                },
                onFinishing: function (event, currentIndex) {
                    submitContactForm();
                    return true;
                },
                onFinished: function (event, currentIndex) {
                }
            });
            /* all other jquery libs need to be after jquery-steps*/
        });

    </script>

    <div id="steps">
        <h3>Document</h3>
        <section>
            <p>You may submit any relevant documents to be saved on your profile.  Example documents are resumes, cover letters, work experience and education documentation.  You may review your attachments at any time under the My Profile tab.</p>
            <p>This step is optional. To skip this step, click Next Without Document. Skipping this step will not impact your eligibility for employment.</p>
            <div th:replace="fragments/user_file_list :: user_file_list"></div>
        </section>
        <h3>Contact</h3>
        <section>
            <div th:replace="fragments/user_profile_form :: user_profile_form"></div>
        </section>
    </div>

    <script type="text/javascript" th:inline="javascript">
        var editable = true;
        jQuery(document).ready(function ($) {
            var job_post = JSON.parse(localStorage.getItem("job_post"));
            $('#contact-form').on('submit', function (e) {
                e.preventDefault();
                submitContactForm();
            })
            $('#file-upload-form').on('submit', function (e) {
                e.preventDefault();
                uploadFile();
            })
        });

    </script>
</div>
</body>
</html>