<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_career">
<head>
    <title>User Profile</title>

</head>
<body>
<div th:fragment="applicant_profile_html">
    <style>
        .dl-horizontal dt {
            text-align: left;
        }
    </style>
    <h3 id="title-label">Applicant Profile <span><a class="fa fa-envelope-o" id="btn-email" data-toggle="modal" data-target="#email-modal" style="cursor: pointer; text-decoration: none"></a></span></h3>
    <div>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd id="name"></dd>
            <dt>email:</dt>
            <dd id="email"></dd>
        </dl>
        <hr/>
        <dl class="dl-horizontal">
            <dt>Phone:</dt>
            <dd id="phone"></dd>
            <dt>Country:</dt>
            <dd id="country"></dd>
            <dt>Address:</dt>
            <dd id="address"></dd>
            <dt>National ID No.<span><a href="//en.wikipedia.org/wiki/National_identification_number" target="_blank">?</a></span>:</dt>
            <dd id="idNumber"></dd>
            <dt>Date of Birth:</dt>
            <dd id="birthday"></dd>
        </dl>
        <hr/>
        <h4>Documents</h4>
        <div th:replace="fragments/user_file_list :: user_file_list"></div>
    </div>
    <div th:replace="form/email_form :: email_form"></div>
</div>
<div th:fragment="applicant_profile_script">
    <script type="text/javascript" th:inline="javascript">
        var editable = false;
        function loadContactForm(url) {
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    $.each(data.user, function (k, v) {
                        var sel = $("#" + k);
                        if (sel.length) {
                            sel.html(v);
                        }
                    });
                    if (data.user.name) {
                        $.each(data, function (k, v) {
                            var sel = $("#" + k);
                            if (sel.length) {
                                sel.html(v);
                            }
                        });
                        $("#country").html(data.country.name);
                    }
                    var job_application_id = window.location.pathname.split("/")[2];
                    var title_label = 'Applicant Profile <span><a class="fa fa-envelope-o" id="btn-email" data-toggle="modal" data-target="#email-modal" data-id="' + job_application_id + '" data-touid="' + data.id +'" style="cursor: pointer; text-decoration: none"></a></span>'
                    $("#title-label").html(title_label);
                }
            });
        }
    </script>
</div>
<div th:fragment="applicant_profile">
    <div th:replace="career/applicant_profile :: applicant_profile_html"></div>
    <div th:replace="career/applicant_profile :: applicant_profile_script"></div>
</div>

<div layout:fragment="content">
    <div th:replace="career/applicant_profile :: applicant_profile_html"></div>
    <hr/>
    <a href="/career/applicant_profile_submit" class="btn btn-default">Edit</a>

    <div th:replace="career/applicant_profile :: applicant_profile_script"></div>
    <script type="text/javascript" th:inline="javascript">
        jQuery(document).ready(function ($) {
            var uid = currentUser.id;
            initFileListTable(uid);
            loadContactForm("/api/user/profile/" + uid);
        });
    </script>
</div>
</body>
</html>