<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_career">
<head>
    <title>Job Post</title>
</head>
<body>

<div th:fragment="job_post_html">
    <div id="job-post">
        <template v-if="jobPost">
            <h3 id="title"></h3>
            <hr/>
            <div class="row">
                <div class="col-md-4">Department: {{ jobPost.job.department.name }}</div>
                <div class="col-md-4">Location: {{ jobPost.job.department.location }}</div>
                <div class="col-md-4">Open Positions: {{ jobPost.vacancies }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Job Code: {{ jobPost.job.id }}</div>
                <div class="col-md-4">Job Category: {{ jobPost.job.jobCategory.name}}</div>
                <div class="col-md-4">Updated: {{updated}}</div>
            </div>
            <hr/>

            <div>
                <label for="description">Job Description:</label>
                <p id="description">{{ jobPost.description }}</p>
            </div>
            <div>
                <label for="requirement">Job Requirement:</label>
                <p id="requirement">{{ jobPost.requirement }}</p>
            </div>
            <div>
                <label for="deadline">Deadline for Application:</label>
                <p v-if="jobPost.deadline" id="deadline">{{ jobPost.deadline }}</p>
            </div>
            <hr/>

            <label>About Contract</label>
            <div class="row">
                <div class="col-md-4">Standard Hours: {{ jobPost.hours }}</div>
                <div class="col-md-4">Pay Rate: {{ jobPost.payRate }}</div>
                <div class="col-md-4">Salary: {{ jobPost.salary }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Contract Starting Date: {{ jobPost.startDate }}</div>
                <div class="col-md-4">Contract Ending Date: {{ jobPost.endDate }}</div>
                <div class="col-md-4">Contract Length: {{ jobPost.contractLength }}</div>
            </div>

        </template>
    </div>
</div>

<div th:fragment="job_post_modal">
    <div class="modal fade" id="job-post-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div th:replace="career/career_job_post :: job_post_html"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="career/career_job_post :: job_post_script"></div>
    <script type="text/javascript" th:inline="javascript">
        jQuery(document).ready(function ($) {
            $('#job-post-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var id = button.data('id')
                loadJobPost(id);
            })
        });
    </script>
</div>

<div th:fragment="job_post_script">
    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var jobPostVM = new Vue({
            el: '#job-post',
            data: {
                jobPost: null,
                updated: null,
            },
        })

        //var jobPostVM.jobPost;

        function loadJobPost(id) {
            $.ajax({
                type: 'get',
                url: '/api/public/job_post/' + id,
                success: function (data) {
                    jobPostVM.updted = (new Date(data.lastModifiedDate)).toString("yyyy/M/dd hh:mm:ss");
                    jobPostVM.jobPost = data;
                    if (checkJobApplicationExistence(data.id) && currentUser != null) {
                        $("#apply-btn").html('<button class="btn btn-success" onclick="applyJob()" disabled="disabled">Apply</button>')
                    } else {
                        $("#apply-btn").html('<button class="btn btn-success" onclick="applyJob()">Apply</button>')
                    }
                }
            });
        }

        function applyJob() {
            if (currentUser == null) {
                if (confirm("Please log in first. Do you want to log in now ?")) {
                    window.location.href = "/login";
                }
            } else {
                if (currentUser.role != "APPLICANT") {
                    alert("You are already an employee");
                } else {
                    localStorage.setItem("job_post", JSON.stringify(jobPostVM.jobPost));
                    window.location.href = "/career/applicant_profile_submit"
                }
            }
        }
        function checkJobApplicationExistence(job_post_id) {
            var result;
            $.ajax({
                url: "/api/job_application/check/" + job_post_id,
                type: "GET",
                async: false,
                success: function (data) {
                    result = (data != "");
                }
            });
            return result;
        }
        //]]>
    </script>
</div>

<!--/* Content of this page will be decorated by the elements of layout.html (task/layout) */-->
<div layout:fragment="content">
    <div th:replace="career/career_job_post :: job_post_html"></div>
    <br/>
    <div id="apply-btn"></div>

    <div th:replace="career/career_job_post :: job_post_script"></div>
    <script type="text/javascript" th:inline="javascript">
        jQuery(document).ready(function ($) {
            var id = window.location.pathname.split("/")[3];
            loadJobPost(id);
        });
    </script>
</div>
</body>
</html>



