<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Career</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h3>Career</h3>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-detail-view="true"
               data-minimum-count-columns="1"
               data-id-field="deadline"
               smartDisplay="true">
        </table>
    </div>

    <script type="text/javascript" th:inline="javascript">

        jQuery(document).ready(function ($) {
            initTable();
        });

        function initTable() {
            var url = "/api/job_post";
            var $table = $('#table');

            var columns =[{
                field: 'deadline',
                title: 'Deadline',
                sortable: true,
                formatter: function (index, row, element) {
                    if (index) {
                        return (new Date(index)).toString("yyyy/M/dd");
                    } else {
                        return "-";
                    }
                }
            }, {
                field: 'title',
                title: 'Title',
                sortable: true,
                filterControl: 'input',
                formatter: function (index, row, element) {
                    return '<a href="/career/job/' + row.id + '">' + row.title + '</a>';
                }
            }, {
                field: 'author',
                title: 'Location',
                sortable: true,
                filterControl: 'select',
                formatter: function (index, row, element) {
                    return index.department.location;
                }
            }];

            $('#table').bootstrapTable({
                columns: columns,
                url: url,
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    if (p.sort) {
                        data.sort = p.sort;
                    } else {
                        data.sort = "deadline";
                    }
                    data.order = p.order;
                    data.limit = p.limit;
                    data.offset = p.offset;
                    var filter = {};
                    $.each( p.filter, function( k, v ) {
                        if (k == "department") {
                            filter.location = v;
                        } else {
                            filter[k] = v;
                        }
                    });
                    filter.published = true;
                    data.filter = filter;
                    return data;
                },
                detailFormatter: function (index, row, element) {
                },
                onPostBody: function () {
                    $(".filterControl input").attr('placeholder', 'Search');
                },
                filterControl: true,
                sortOrder: 'desc',
                cookie: true,
                cookieIdTable: 'job_post',
            });
        }
    </script>
</div>
</body>
</html>