<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_career">
<head>
    <title>Career</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet"
          media="screen" type="text/css"/>
    <script type="text/javascript"
            th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h3>Career</h3>
        <h4>Jobs</h4>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-detail-view="true"
               data-minimum-count-columns="1"
               data-id-field="id"
               smartDisplay="true">
        </table>
    </div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            initTable();
        });

        function initTable() {
            var url = "/api/public/job_post";
            var $table = $('#table');

            var columns = [{
                field: 'title',
                title: 'Title',
                sortable: true,
                filterControl: 'input',
                formatter: function (index, row, element) {
                    return '<a href="/career/job_post/' + row.id + '">' + index + '</a>';
                }
            }, {
                field: 'jobCategory',
                title: 'Job Category',
                //sortable: true,
                filterControl: 'select'
            }, {
                field: 'location',
                title: 'Location',
                //sortable: true,
                filterControl: 'select'
            }, {
                field: 'vacancies',
                title: 'Vacancies',
                sortable: true
            }, {
                field: 'deadline',
                title: 'Deadline',
                sortable: true,
                formatter: function (index, row, element) {
                    if (index) {
                        return (new Date(index)).toString("yyyy/M/dd");
                    } else {
                        return "-";
                    }
                }
            }, {
                field: 'lastModifiedDate',
                title: 'Update',
                sortable: true,
                formatter: function (index, row, element) {
                    return (new Date(index)).toString("yyyy/M/dd");
                }
            }];

            $table.bootstrapTable({
                columns: columns,
                url: url,
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    if (p.sort) {
                        data.sort = p.sort;
                    } else {
                        data.sort = "lastModifiedDate";
                    }
                    data.order = p.order;
                    data.limit = p.limit;
                    data.offset = p.offset;
                    var tmp = $.parseJSON(p.filter);
                    var filter = {};
                    for (var key in tmp) {
                        filter[key] = tmp[key];
                    }
                    filter.published = "true";
                    filter.open = "true";
                    data.filter = JSON.stringify(filter);
                    return data;
                },
                detailFormatter: function (index, row, element) {
                    var apply_btn = '<br/><button type="submit" class="btn btn-success" id="apply" onclick="applyJob(' + index + ')">Apply</button>';
                    console.log(checkJobApplicationExistence(row.id))
                    if (checkJobApplicationExistence(row.id) && currentUser != null) {
                        var apply_btn = '<br/><button type="submit" class="btn btn-success" id="apply" onclick="applyJob(' + index + ')" disabled="disabled">Apply</button>';
                    }
                    var result =
                            '<div class="row">' +
                            '<div class="col-md-10 col-md-offset-1">' +
                            '<dl>' +
                            '<dt>Job Description</dt>' + '<dd>' + row.description + '</dd>' +
                            '</dl>' +
                            '<dt>Job Requirement</dt>' + '<dd>' + row.requirement + '</dd>' +
                            apply_btn +
                            '</div>' +
                            '</div>';
                    return result;
                },
                responseHandler: function (res) {
                    $.each(res.rows, function (i, v) {
                        res.rows[i].location = res.rows[i].department.location;
                        res.rows[i].jobCategory = res.rows[i].job.jobCategory.name;
                    });
                    return res;
                },
                onPostBody: function () {
                    $(".filterControl input").attr('placeholder', 'Search');
                },
                filterControl: true,
                sortOrder: 'desc',
                cookie: true,
                cookieIdTable: 'career_job_post',
            });
        }
        function applyJob(index) {
            if (currentUser == null) {
                if (confirm("Please log in first. Do you want to log in now ?")) {
                    window.location.href = "/login";
                }
            } else {
                if (currentUser.role != "APPLICANT") {
                    alert("You are already an employee");
                } else {
                    var job_post = $('#table').bootstrapTable('getData', true)[index];
                    localStorage.setItem("job_post", JSON.stringify(job_post));
                    window.location.href = "/career/applicant_profile_submit"
                }
            }
        }

        //]]>
    </script>
</div>
</body>
</html>