<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Department</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h3>Contract</h3>
        <form class="form-inline" role="form" id="date-range-form">
            <label>Contract expires between</label>
            <div class="form-group required">
                <input class="form-control" id="from" name="from" required="required"/>
            </div>
            -
            <div class="form-group required">
                <input class="form-control" id="to" name="to" required="required"/>
            </div>
            <div class="form-group required">
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        </form>
        <div id="toolbar" class="btn-group">
            <button type="button" class="btn btn-default" id="btn-add-row" data-toggle="modal" data-target="#contract-modal" data-action="create">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <button type="button" class="btn btn-default" id="btn-copy-row" data-toggle="modal" data-target="#contract-modal" data-action="copy">
                <i class="fa fa-clone"></i>
            </button>
        </div>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-export="true"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 25, 50, 100]"
               data-minimum-count-columns="1"
               data-id-field="id"
               smartDisplay="true">
        </table>
    </div>
    <div th:replace="form/contract_form :: contract_form"></div>


    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var $table = $('#table');
        var url = '/api/contract';
        var from = $("#from"), to = $("#to");

        jQuery(document).ready(function ($) {
            from.datepicker().val(getUrlParameter("from"));
            to.datepicker().val(getUrlParameter("to"));

            initTable();
            $('#date-range-form').on('submit', function (e) {
                e.preventDefault();
                $table.bootstrapTable('refresh');
            })
        });

        function initTable() {
            $table.bootstrapTable({
                columns: [{
                    field: 'state',
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    sortable: true,
                }, {
                    field: 'user',
                    title: 'Employee',
                    sortable: true,
                    filterControl: 'input',
                    formatter: function (index, row, element) {
                        return '<a href="/user/' + index.id + '">' + index.name + '</a>';
                    }
                }, {
                    field: 'job',
                    title: 'Job',
                    sortable: true,
                    formatter: function (index, row, element) {
                        return index.title + " (" + index.id + ")";
                    }
                }, {
                    field: 'salary',
                    title: 'Salary',
                    sortable: true,
                }, {
                    field: 'payRate',
                    title: 'payRate',
                    sortable: true,
                    filterControl: 'select',
                }, {
                    field: 'startDate',
                    title: 'Start Date',
                    sortable: true,
                    formatter: function (index, row, element) {
                        return (new Date(index)).toString("yyyy/M/dd");
                    }
                }, {
                    field: 'endDate',
                    title: 'End Date',
                    sortable: true,
                    formatter: function (index, row, element) {
                        return (new Date(index)).toString("yyyy/M/dd");
                    }
                }, {
                    field: 'department',
                    title: 'Department',
                    filterControl: 'select'
                }, {
                    field: 'location',
                    title: 'Location',
                    filterControl: 'select'
                }],
                url: url,
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    if (p.sort) {
                        data.sort = p.sort;
                    } else {
                        data.sort = "id";
                    }

                    data.order = p.order;
                    data.limit = p.limit;
                    data.offset = p.offset;
                    var tmp = $.parseJSON(p.filter);
                    var filter = {};
                    for (var key in tmp) {
                        filter[key] = tmp[key];
                    }
                    if (from.val() && to.val()) {
                        filter.date = $("#from").val() + "-" + $("#to").val()
                    }
                    if (currentUser.role == "MANAGER") {
                        filter.department = currentUser.department.name;
                        filter.loaction = currentUser.department.location;
                    }
                    data.filter = JSON.stringify(filter);
                    return data;
                },
                responseHandler: function (res) {
                    $.each(res.rows, function (i, v) {
                        res.rows[i].location = res.rows[i].job.department.location;
                        res.rows[i].department = res.rows[i].job.department.name;
                    });
                    return res;
                },
                onLoadSuccess: function () {
                    if (currentUser.role == "MANAGER") {
                        $table.bootstrapTable('hideColumn', "department");
                        $table.bootstrapTable('hideColumn', "location");
                        $("#toolbar").hide();
                    }
                },
                filterControl: true,
                clickToSelect: true,
                cookie: true,
                cookieIdTable: 'contract',
                cookiesEnabled: ['bs.table.sortOrder', 'bs.table.sortName', 'bs.table.pageNumber', 'bs.table.pageList', 'bs.table.searchText', 'bs.table.filterControl'],
                showColumns: (currentUser.role == "ADMIN")
            });
        }

        //]]>
    </script>
</div>
</body>
</html>