<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Department</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js}"></script>
    <script type="text/javascript" src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h3>Department</h3>
        <div id="toolbar" class="btn-group">
            <button type="button" class="btn btn-default" id="btn-add-row"  data-toggle="modal" data-target="#popup-model">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <button type="button" class="btn btn-default" id="btn-delete-row" disabled="disabled">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 25, 50, 100]"
               data-minimum-count-columns="1"
               data-id-field="id"
               smartDisplay="true">
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="popup-model" tabindex="-1" role="dialog" aria-labelledby="popup-modelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="popup-modelLabel">Create a review flow</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal"  id="department-form">
                        <div class="form-group required">
                            <label for="name" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Department Name" id="name" name="name" required="required"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="location" class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Location" type="input" id="location" name="location" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        var $table = $('#table');

        jQuery(document).ready(function ($) {
            initTable();

            $('#department-form').on('submit', function (e) {
                e.preventDefault();
                submitDepartmentForm();
            })
        });

        function initTable() {
            var url = "/api/department";

            $table.bootstrapTable({
                columns: [{
                    field: 'state',
                    checkbox: true
                },{
                    field: 'id',
                    title: 'ID',
                    sortable: true,
                    filterControl: 'input',
                }, {
                    field: 'name',
                    title: 'Name',
                    sortable: true,
                    filterControl: 'input',
                    formatter: function (index, row, element) {
                        return '<a href="/department/' + row.id + '">' + index + '</a>';
                    }
                }, {
                    field: 'location',
                    title: 'Location',
                    sortable: true,
                    filterControl: 'select',
                }],
                url: url,
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    if (p.sort) {
                        data.sort = p.sort;
                    } else {
                        data.sort = "id";
                    }
                    data.order = p.order;
                    data.limit = p.limit;
                    data.offset = p.offset;
                    data.filter = p.filter;
                    return data;
                },
                onPostBody: function () {
                    $(".filterControl input").attr('placeholder', 'Search');
                },
                filterControl: true,
                cookie: true,
                cookieIdTable: 'department',
            });

            var $remove = $("#btn-delete-row");
            var $insert = $("#btn-add-row");

            //$insert.click(function () {window.location.href = "/department/create";});

            $table.on('check.bs.table uncheck.bs.table ' +
                    'check-all.bs.table uncheck-all.bs.table', function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            });
            $remove.click(function () {
                var ids = getIdSelections();
                if (confirm("Are you sure to delete?")) {
                    $.ajax({
                        type: "delete",
                        data: JSON.stringify(ids),
                        contentType: "application/json; charset=utf-8",
                        url: '/api/department',
                        success: function () {
                            $table.bootstrapTable('remove', {
                                field: 'id',
                                values: ids
                            });
                            $remove.prop('disabled', true);
                            $table.bootstrapTable('refresh');
                        },
                        error: function (e) {
                            if (e.status == 500) {
                                $.notify({
                                    icon: 'fa fa-exclamation-triangle',
                                    message: "The item is referenced. You can't delete it.",
                                },{
                                    type: 'danger'
                                });
                            }
                        }
                    });
                }
            });
            function getIdSelections() {
                return $.map($table.bootstrapTable('getSelections'), function (row) {
                    return row.id
                });
            }
        }

        function submitDepartmentForm() {

                var data = {};
                $.each($('form').serializeArray(), function(i, field) {
                    data[field.name] = field.value;
                });
                $.ajax({
                    type: "POST",
                    url: "/api/department/",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#popup-model').modal('hide')
                        $table.bootstrapTable('refresh');
                    }
                });
        }

    </script>
</div>
</body>
</html>