<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Job Profile</title>

    <link th:href="@{/static/bower_components/select2/dist/css/select2.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/select2/dist/js/select2.min.js}"></script>
</head>
<body>

<!--/* Content of this page will be decorated by the elements of layout.html (task/layout) */-->
<div layout:fragment="content">
    <h3>Job Profile</h3>
    <form role="form">
        <div class="col-sm-6">
            <div class="form-group required">
                <label for="title" class="control-label">Title</label>
                <input class="form-control" placeholder="Title" type="input" id="title" name="title" required="required"/>
            </div>
            <div class="form-group required" id="field-jobId">
                <label for="id" class="control-label">Job Code</label>
                <a href="/job_profile" target="_blank" title="Click to view the job list">?</a>
                <input class="form-control" type="input" id="id" name="id" required="required" readonly="readonly"/>
            </div>
            <div class="form-group required" id="field-department">
                <label for="departmentName" class="control-label">Department</label>
                <input class="form-control" type="input" id="departmentName" name="department" required="required" readonly="readonly"/>
            </div>
            <div class="form-group required">
                <label for="jobCategory" class="control-label">Job Category</label>
                <a href="/job_category" target="_blank" title="Click to view the job category list">?</a>
                <select class="form-control job-categoty-select" id="jobCategory" name="jobCategory" required="required">
                    <option></option>
                </select>
                <input class="form-control" type="input" id="job-categoty-input" readonly="readonly" style="display: none"/>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Job Description</label>
                <textarea class="form-control" type="input" id="description" name="description" rows="5"> </textarea>
            </div>
            <div class="form-group">
                <label for="requirement" class="control-label">Job Requirement</label>
                <textarea class="form-control" type="input" id="requirement" name="requirement" rows="5"> </textarea>
            </div>
            <div class="form-group">
                <label for="hours" class="control-label">Standard Hours</label>
                <input class="form-control" type="number" id="hours" name="hours" />
            </div>
            <button type="submit" class="btn btn-success" id="save">Save</button>
        </div>
    </form>


    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var job;

        function handleFormSubmission(method) {
            $('form').on('submit', function (e) {
                e.preventDefault();

                var data = {};
                $.each($('form').serializeArray(), function(i, field) {
                    switch (field.name) {
                        case "jobCategory":
                            var jobCategory = {};
                            jobCategory.id = field.value;
                            data.jobCategory = jobCategory;
                            break;
                        case "department":
                            if (window.location.pathname != "/job_profile/create") {
                                data.department = job.department;
                            } else {
                                if (currentUser.role == 'ADMIN') {
                                    var department = {};
                                    department.id = $(".department-select").val();
                                    data.department = department;
                                } else {
                                    data.department = currentUser.department;
                                }
                            }
                            break;
                        default:
                            data[field.name] = field.value;
                    }
                });

                var notify = $.notify({
                    icon: 'fa fa-info-circle',
                    message: "Saving...",
                    url: '/job_profile',
                });
                var x= $(".job-categoty-select option:selected");
                console.log(x.text());
                $.ajax({
                    type: method,
                    url: '/api/job',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (job) {
                        notify.update('message', "Done");
                        window.location.href = "/job_profile";
                    },
                    error: function () {
                        notify.update('message', "Error");
                    }
                });
            });
        }
        function initJobCategory() {
            var categories;
            $.ajax({
                type: 'get',
                url: "/api/job_category/all",
                success: function (data) {
                    categories = $.map(data, function(obj) {
                        return { id: obj.id, text: obj.name };
                    })
                    $(".job-categoty-select").select2({
                        placeholder: "Select a category",
                        data: categories
                    });

                    var role = currentUser.role;
                    if (role == 'ADMIN' && window.location.pathname == "/job_profile/create") {
                        $("#field-department").html('<label for="departmentName" class="control-label">Department</label><select class="form-control department-select" name="department" style="width: 100%"><option></option></select>')
                        initDepartmentList($(".department-select"), "Select a department");
                    }
                    if (role == 'ADMIN' ||
                            (role == 'MANAGER' && job.department.id == currentUser.department.id) ||
                            (role == 'MANAGER' && window.location.pathname == "/job_profile/create")) {
                        $(".job-categoty-select").data('select2').trigger('select', {
                            data: {"id":job.jobCategory.id,"text":job.jobCategory.name}
                        });
                    } else {
                        $("form :input").attr("readonly", true);
                        $(".job-categoty-select, .select2").hide();
                        $("#job-categoty-input").show();
                        $("#job-categoty-input").val(job.jobCategory.name);
                        $("#save").hide();
                    }
                }
            });
        }
        jQuery(document).ready(function ($) {

            if (window.location.pathname == "/job_profile/create") {
                $("#field-jobId").hide();
                var department = [[${currentUser.department.name}]]
                $("#departmentName").val(department);

                initJobCategory();
                handleFormSubmission("post");
            } else {
                $.ajax({
                    type: 'get',
                    url: '/api/job/' + window.location.pathname.split("/")[2],
                    success: function (data) {
                        job = data;
                        $.each(job, function (k, v) {
                            var sel = $("#" + k);
                            if (sel.length) {
                                sel.val(v);
                            }
                        });
                        $("#departmentName").val(job.department.name);

                        initJobCategory();
                        handleFormSubmission("put");
                    }
                });
            }


        });
        //]]>
    </script>
</div>
</body>
</html>



