<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Department</title>
    <link th:href="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js}"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h3>Job History</h3>
        <table id="table"
               data-toolbar="#toolbar"
               data-sortable="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-export="true"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 25, 50, 100]"
               data-minimum-count-columns="1"
               data-id-field="id"
               smartDisplay="true">
        </table>
    </div>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var $table = $('#table');
        var url = '/api/contract/history';
        var from = $("#from"), to = $("#to");

        jQuery(document).ready(function ($) {
            from.datepicker().val(getUrlParameter("from"));
            to.datepicker().val(getUrlParameter("to"));

            initTable();
            $('#date-range-form').on('submit', function (e) {
                e.preventDefault();
                $table.bootstrapTable('refresh');
            })
        });

        function initTable() {
            $table.bootstrapTable({
                columns: [{
                    field: 'user',
                    title: 'Employee',
                    sortable: true,
                    filterControl: 'input',
                    formatter: function (index, row, element) {
                        return '<a href="/user/' + index.id + '">' + index.name + '</a>';
                    }
                }, {
                    field: 'job',
                    title: 'Job',
                    sortable: true,
                    formatter: function (index, row, element) {
                        return index.title + " (ID:" + index.id + ")";
                    }
                }, {
                    field: 'salary',
                    title: 'Salary',
                    sortable: true,
                }, {
                    field: 'payRate',
                    title: 'payRate',
                    sortable: true,
                    filterControl: 'select',
                }, {
                    field: 'startDate',
                    title: 'Start Date',
                    sortable: true,
                    formatter: function (index, row, element) {
                        return (new Date(index)).toString("yyyy/M/dd");
                    }
                }, {
                    field: 'endDate',
                    title: 'End Date',
                    sortable: true,
                    formatter: function (index, row, element) {
                        return (new Date(index)).toString("yyyy/M/dd");
                    }
                }, {
                    field: 'department',
                    title: 'Department',
                    filterControl: 'select'
                }, {
                    field: 'location',
                    title: 'Location',
                    filterControl: 'select'
                }],
                url: url,
                contentType: "application/x-www-form-urlencoded",
                queryParamsType: "limit",
                queryParams: function (p) {
                    var data = {};
                    if (p.sort) {
                        data.sort = p.sort;
                    } else {
                        data.sort = "endDate";
                    }

                    data.order = p.order;
                    data.limit = p.limit;
                    data.offset = p.offset;
                    var tmp = $.parseJSON(p.filter);
                    var filter = {};
                    for (var key in tmp) {
                        filter[key] = tmp[key];
                    }
                    if (from.val() && to.val()) {
                        filter.date = $("#from").val() + "-" + $("#to").val()
                    }
                    data.filter = JSON.stringify(filter);
                    return data;
                },
                responseHandler: function (res) {
                    $.each(res.rows, function (i, v) {
                        res.rows[i].location = res.rows[i].job.department.location;
                        res.rows[i].department = res.rows[i].job.department.name;
                    });
                    return res;
                },
                sortOrder: 'desc',
                filterControl: true,
                clickToSelect: true,
                cookie: true,
                cookieIdTable: 'job_history',
            });
        }

        //]]>
    </script>
</div>
</body>
</html>