<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Company Name</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/career">Career</a></li>
                <li class="dropdown" id="not-logged-in"  style="display:none;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/career/register">Sign up</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="logged-in"  style="display:none;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/profile">My Profile</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout" id="logout">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        /*    var url = window.location.pathname;
         if (!url.match(/\/$/)) {
         url += '/';
         }
         window.history.pushState("", "", url);
         */


    jQuery(document).ready(function ($) {
        //$('form').formcache();

        if (window.location.pathname == '/dashboard') {
            $(".dropdown").removeClass('active');
        }
        var currentUser = [[${currentUser}]];
        if (currentUser == null) {
            $("#not-logged-in").show();
        } else {
            $("#logged-in").show();
            logout();
        }

        function logout() {
            $("#logout").click(function () {
                var url = '/logout';
                var data = {[[${_csrf.parameterName}]]: [[${_csrf.token}]]};
                $.post(url, data)
                        .done(function () {
                            window.location.href = "/";
                        });
            });
        }

        $.datepicker.setDefaults({ beforeShow: function (i) { if ($(i).attr('readonly')) { return false; } } });

        $.notifyDefaults({
            element: 'body',
            type: 'info',
            delay: 0,
            placement: {
                from: "bottom",
                align: "right"
            },
            animate: {
                enter: "animated fadeInRight",
                exit: "animated fadeOutRight"
            }
        });
    });
    //]]>
    </script>
</div>
</body>
</html>