<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="deletion">
    <div class="modal fade" id="delete-confirm-modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" class="form-horizontal" id="delete-confirm-form">
                        <div class="form-group">
                            <h4 class="modal-title" style="text-align: center">Are you sure to delete selected items?</h4>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary">Confirm</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        jQuery(document).ready(function ($) {
            $('#delete-confirm-form').on('submit', function (e) {
                e.preventDefault();
                $('#delete-confirm-modal').modal('hide')
                deleteRows();
            })

            var $remove = $("#btn-delete-row");

            $table.on('check.bs.table uncheck.bs.table ' +
                    'check-all.bs.table uncheck-all.bs.table', function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            });

            function deleteRows() {
                var ids = getIdSelections();
                $.ajax({
                    type: "delete",
                    data: JSON.stringify(ids),
                    contentType: "application/json; charset=utf-8",
                    url: url,
                    success: function (data) {
                        if (data.response == "OK") {
                            $remove.prop('disabled', true);
                        } else {
                            $.notify({
                                icon: 'fa fa-exclamation-triangle',
                                message: data.detail,
                            }, {
                                type: 'danger'
                            });
                        }
                        $table.bootstrapTable('refresh');
                    },
                });
            }
            function getIdSelections() {
                return $.map($table.bootstrapTable('getSelections'), function (row) {
                    return row.id
                });
            }
        });


    </script>
</div>
</body>
</html>