<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div th:fragment="sidebar">
    <nav class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li><a class="all" th:href="@{/dashboard}"> Dashboard</a></li>
                <li>
                    <a class="all" href="#"> User Panel<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="employee"><a class="all" th:href="@{/user/__${currentUser.id}__/request}"> My Requests</a></li>
                    </ul>
                </li>
                <li><a class="admin manager" th:href="@{/user}"> Employee List</a></li>
                <li><a class="admin" th:href="@{/request}"> Requests List</a></li>
                <li>
                    <a class="admin" href="#"> Recruitment<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="admin manager" th:href="@{/job_post}"> Job Post List</a></li>
                        <li><a class="admin manager" th:href="@{/job_application}"> Application List</a></li>
                        <li><a class="admin manager" th:href="@{/review_flow}"> Review Flow List</a></li>
                    </ul>
                </li>
                <li>
                    <a class="admin manager" href="#"> Setting<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="#" class="admin" th:href="@{/department}"> Department List</a></li>
                        <li><a href="#" class="admin" th:href="@{/job_category}"> Job Category List</a></li>
                        <li><a href="#" class="admin manager" th:href="@{/job_profile}"> Job List</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>

    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        var sse;

        jQuery(document).ready(function ($) {

            if (window.location.pathname != '/') {
                $(".home").removeClass('active');
            }

            $("#side-menu a").hide();
            $(".all").show();
            var currentUser = [[${currentUser}]];
            switch (currentUser.authorities[0].authority) {
                case 'ADMIN':
                    connect();
                    $(".admin").show();
                    break;
                case 'MANAGER':
                    $(".manager").show();
                    break;
            }
        });

        var connect = function () {
            var sse = new EventSource('/stream');

            sse.addEventListener('open', function (e) {
                console.log('connected');
            });
            sse.addEventListener('message', function (e) {
                var message = JSON.parse(e.data);
                console.log(message);
                var msg = "You get a new message from " + message.sender.name + ". Click to see more.";
                $.notify({
                    icon: 'fa fa-info-circle',
                    message: msg,
                    url: "/request"
                },{
                    element: 'body',
                    type: 'info',
                    delay: 0,
                    placement: {
                        from: "bottom",
                        align: "right"
                    },
                });
            }, false);

            sse.addEventListener('error', function (e) {
                if (e.readyState == EventSource.CLOSED) {
                    connected = false;
                    connect();
                }
            }, false);

            sse.addEventListener('close', function (e) {
                console.log('closed');
            });
        };
        window.onbeforeunload  = function() {
            sse.close();
        }
       //]]>
    </script>
</div>
</body>
</html>