<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_career">
<body>

<div th:fragment="user_profile_form">
    <link th:href="@{/static/bower_components/select2/dist/css/select2.min.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" th:src="@{/static/bower_components/select2/dist/js/select2.min.js}"></script>
    <form class="form-horizontal" role="form" id="contact-form">
        <div class="form-group required">
            <label for="name" class="col-sm-4 control-label">Full name</label>
            <div class="col-sm-8">
                <input class="form-control" type="input" id="name" name="name" required="required"/>
            </div>
        </div>
        <div class="form-group required">
            <label for="phone" class="col-sm-4 control-label">Phone</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" id="phone" name="phone" required="required"/>
            </div>
        </div>
        <div class="form-group required">
            <label for="country" class="col-sm-4 control-label">Country</label>
            <div class="col-sm-8" id="country-select">
                <select class="form-control country-select" id="country" name="country" required="required" style="width:100%;">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group required">
            <label for="address" class="col-sm-4 control-label">Address</label>
            <div class="col-sm-8">
                <input class="form-control" type="address" id="address" name="address" maxlength="60" required="required"/>
            </div>
        </div>
        <div class="form-group required">
            <label for="idNumber" class="control-label col-sm-4">National identification number <span><a href="//en.wikipedia.org/wiki/National_identification_number" target="_blank">?</a></span></label>
            <div class="col-sm-8">
                <input class="form-control" type="input" id="idNumber" name="idNumber" required="required"/>
            </div>
        </div>
        <div class="form-group required">
            <label for="birthday" class="col-sm-4 control-label">Date of Birth</label>
            <div class="col-sm-8">
                <input class="form-control" type="input" id="birthday" name="birthday" required="required"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="save" style="float: right">save</button>
    </form>

<script type="text/javascript" th:inline="javascript">

    jQuery(document).ready(function ($) {
        $("#birthday").datepicker({ dateFormat: 'yy-mm-dd' });

        initCountryList();
        loadContactFormData();

        if (!editable) {
            $("#country-select").html('<input class="form-control" type="input" id="country" name="country" required="required"/>')
            $("#contact-form #save").hide();
            $("form :input").attr("readonly", true);
        }
    });

    function initCountryList() {
        var countries;
        $.ajax({
            type: 'get',
            url: "/api/public/country",
            success: function (data) {
                countries = $.map(data, function(obj) {
                    return { id: obj.id, text: obj.name };
                })
                $(".country-select").select2({
                    data: countries
                });
            }
        });
    }

    function loadContactFormData() {
        $.ajax({
            url: "/api/user/profile/" + [[${currentUser.id}]],
            type: "GET",
            success: function (data) {
                if (data != "") {
                    $.each(data, function (k, v) {
                        var sel = $("#contact-form #" + k);
                        if (sel.length) {
                            sel.val(v);
                        }
                    });
                    if (editable) {
                        $("#contact-form #country").data('select2').trigger('select', {
                            data: {"id": data.country.id, "text": data.country.name}
                        });
                    } else {
                        $("#contact-form #country").val(data.country.name);
                    }
                }
            }
        });
    }
    function submitContactForm() {
        var data = {};
        $.each($('#contact-form').serializeArray(), function(i, field) {
            switch (field.name) {
                case "country":
                    var country = {};
                    country.id = field.value;
                    data.country = country;
                    break;
                case "birthday":
                    data[field.name] = Date.parse(field.value);
                    break;
                default:
                    data[field.name] = field.value;
            }
        });
        data.id = [[${currentUser.id}]];
        notify = $.notify({
            icon: 'fa fa-info-circle',
            message: "Saving...",
        });
        $.ajax({
            url: "/api/user/profile",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                notify.update('message', "Saved");
                setTimeout(function() {
                    notify.close();
                }, 500);
            }
        });
    }
</script>
</div>
</body>
</html>